.mediaViewInfo {
	--web-view-name: Selected Works #3 - BeeZr;
	--web-view-id: Selected_Works_3_-_BeeZr;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-refresh-for-changes: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Selected_Works_3_-_BeeZr;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
@keyframes  {


}
#Selected_Works_3_-_BeeZr {
	position: absolute;
	width: 1800px;
	height: 6868px;
	background-color: rgba(8,12,43,1);
	overflow: hidden;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: gallery.html;
	cursor: pointer;
	--web-view-name: Selected Works #3 - BeeZr;
	--web-view-id: Selected_Works_3_-_BeeZr;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-refresh-for-changes: true;
	--web-enable-deep-linking: true;
}
#bnp {
	border: 0;
	left: 221px;
	top: 351px;
	position: absolute;
	overflow: visible;
	width: 403px;
	white-space: nowrap;
	text-align: center;
	font-family: Krona One;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(247,252,247,1);
}
#bnq {
	border: 0;
	left: 100px;
	top: 193px;
	position: absolute;
	overflow: visible;
	width: 889px;
	white-space: nowrap;
	text-align: center;
	font-family: Krona One;
	font-style: normal;
	font-weight: normal;
	font-size: 86px;
	color: rgba(247,252,247,1);
}
#bnr {
	border: 0;
	left: 100px;
	top: 410px;
	position: absolute;
	overflow: visible;
	width: 1566px;
	height: 191px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(247,252,247,1);
}
#bns {
	border: 0;
	left: 207px;
	top: 3364px;
	position: absolute;
	overflow: visible;
	width: 357px;
	white-space: nowrap;
	text-align: center;
	font-family: Krona One;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(247,252,247,1);
}
#bnt {
	fill: rgba(67,52,183,1);
}
.bnt {
	position: absolute;
	overflow: visible;
	width: 517px;
	height: 567px;
	left: 135px;
	top: 2726px;
}
#bnu {
	fill: rgba(247,252,247,1);
}
.bnu {
	position: absolute;
	overflow: visible;
	width: 517px;
	height: 567px;
	left: 100px;
	top: 2691px;
}
#bnv {
	border: 0;
	left: 305px;
	top: 2746px;
	position: absolute;
	overflow: visible;
	width: 177px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(8,12,43,1);
}
#bnw {
	border: 0;
	left: 157px;
	top: 2853px;
	position: absolute;
	overflow: visible;
	width: 404px;
	height: 355px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(8,12,43,1);
}
#bnx {
	position: absolute;
	width: 101px;
	height: 101px;
	left: 174px;
	top: 2733px;
	overflow: visible;
}
#bny {
	position: absolute;
	width: 101px;
	height: 101px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#bnz {
	fill: rgba(8,12,43,1);
}
.bnz {
	overflow: visible;
	position: absolute;
	width: 52.304px;
	height: 34.418px;
	left: 115.78px;
	top: 2708.804px;
	transform: matrix(1,0,0,1,0,0);
}
#boa {
	border: 0;
	left: 172px;
	top: 2612px;
	position: absolute;
	overflow: visible;
	width: 241px;
	white-space: nowrap;
	text-align: center;
	font-family: Krona One;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(247,252,247,1);
}
#bob {
	border: 0;
	left: 170px;
	top: 1616px;
	position: absolute;
	overflow: visible;
	width: 233px;
	white-space: nowrap;
	text-align: center;
	font-family: Krona One;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(247,252,247,1);
}
#boc {
	fill: rgba(67,52,183,1);
}
.boc {
	position: absolute;
	overflow: visible;
	width: 1565px;
	height: 963px;
	left: 135px;
	top: 4347px;
}
#bod {
	fill: rgba(247,252,247,1);
}
.bod {
	position: absolute;
	overflow: visible;
	width: 1565px;
	height: 963px;
	left: 100px;
	top: 4312px;
}
#boe {
	border: 0;
	left: 150px;
	top: 4362px;
	position: absolute;
	overflow: visible;
	width: 1466px;
	height: 227px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(8,12,43,1);
}
#bof {
	border: 0;
	left: 150px;
	top: 5051px;
	position: absolute;
	overflow: visible;
	width: 1466px;
	height: 174px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(8,12,43,1);
}
#bog {
	border: 0;
	left: 150px;
	top: 4623px;
	position: absolute;
	overflow: visible;
	width: 1466px;
	height: 398px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(8,12,43,1);
}
#boh {
	border: 0;
	left: 230px;
	top: 4233px;
	position: absolute;
	overflow: visible;
	width: 435px;
	white-space: nowrap;
	text-align: center;
	font-family: Krona One;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(247,252,247,1);
}
#boi {
	border: 0;
	left: 253px;
	top: 5381px;
	position: absolute;
	overflow: visible;
	width: 511px;
	white-space: nowrap;
	text-align: center;
	font-family: Krona One;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(247,252,247,1);
}
#boj {
	fill: rgba(247,252,247,1);
}
.boj {
	position: absolute;
	overflow: visible;
	width: 1565px;
	height: 684px;
	left: 135px;
	top: 3478px;
}
#bok {
	fill: rgba(255,230,122,1);
}
.bok {
	overflow: visible;
	position: absolute;
	width: 1565px;
	height: 684px;
	left: 100px;
	top: 3442.955px;
	transform: matrix(1,0,0,1,0,0);
}
#bol {
	border: 0;
	left: 168px;
	top: 3491.478px;
	position: absolute;
	overflow: visible;
	width: 788px;
	height: 363px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(8,12,43,1);
}
#bom {
	position: absolute;
	width: 610px;
	height: 343px;
	left: 985.001px;
	top: 3494px;
	overflow: visible;
}
#bon {
	fill: rgba(255,255,255,1);
}
.bon {
	position: absolute;
	overflow: visible;
	width: 610px;
	height: 343px;
	left: 0px;
	top: 0px;
}
#boo {
	position: absolute;
	width: 588px;
	height: 228px;
	left: 11px;
	top: 57.478px;
	overflow: visible;
}
#bop {
	position: absolute;
	width: 588px;
	height: 187px;
	left: 0px;
	top: 41px;
	overflow: visible;
}
#boq {
	border: 0;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 261px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(97,97,98,1);
}
#bor {
	position: absolute;
	width: 1382.454px;
	height: 187.083px;
	left: 186.546px;
	top: 3889.918px;
	overflow: visible;
}
#bos {
	fill: rgba(8,12,43,1);
}
.bos {
	overflow: visible;
	position: absolute;
	width: 140.096px;
	height: 43.016px;
	left: 0px;
	top: 0.374px;
	transform: matrix(1,0,0,1,0,0);
}
#bot {
	fill: rgba(8,12,43,1);
}
.bot {
	overflow: visible;
	position: absolute;
	width: 89.122px;
	height: 46.91px;
	left: 233.487px;
	top: 0.374px;
	transform: matrix(1,0,0,1,0,0);
}
#bou {
	fill: rgba(8,12,43,1);
}
.bou {
	overflow: visible;
	position: absolute;
	width: 126.016px;
	height: 47.592px;
	left: 422.808px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#bov {
	fill: rgba(8,12,43,1);
}
.bov {
	overflow: visible;
	position: absolute;
	width: 130.02px;
	height: 43.016px;
	left: 631.488px;
	top: 0.374px;
	transform: matrix(1,0,0,1,0,0);
}
#bow {
	fill: rgba(8,12,43,1);
}
.bow {
	overflow: visible;
	position: absolute;
	width: 124.113px;
	height: 47.592px;
	left: 846.722px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#box {
	fill: rgba(8,12,43,1);
}
.box {
	overflow: visible;
	position: absolute;
	width: 110.814px;
	height: 43.016px;
	left: 1061.893px;
	top: 0.374px;
	transform: matrix(1,0,0,1,0,0);
}
#boy {
	fill: rgba(8,12,43,1);
}
.boy {
	overflow: visible;
	position: absolute;
	width: 79.904px;
	height: 47.218px;
	left: 1286.304px;
	top: 0.374px;
	transform: matrix(1,0,0,1,0,0);
}
#boz {
	position: absolute;
	width: 1373px;
	height: 115.522px;
	left: 9.454px;
	top: 71.561px;
	overflow: visible;
}
#bpa {
	position: absolute;
	width: 113px;
	height: 109px;
	left: 214px;
	top: 6.522px;
	overflow: visible;
}
#bpb {
	filter: blur(5px);
	fill: rgba(8,12,43,1);
}
.bpb {
	position: absolute;
	overflow: visible;
	width: 143px;
	height: 139px;
	left: 0px;
	top: 0px;
}
#bpc {
	position: absolute;
	width: 113px;
	height: 109px;
	left: 423px;
	top: 6.522px;
	overflow: visible;
}
#bpd {
	filter: blur(5px);
	fill: rgba(8,12,43,1);
}
.bpd {
	position: absolute;
	overflow: visible;
	width: 143px;
	height: 139px;
	left: 0px;
	top: 0px;
}
#bpe {
	position: absolute;
	width: 113px;
	height: 109px;
	left: 842px;
	top: 6.522px;
	overflow: visible;
}
#bpf {
	filter: blur(5px);
	fill: rgba(8,12,43,1);
}
.bpf {
	position: absolute;
	overflow: visible;
	width: 143px;
	height: 139px;
	left: 0px;
	top: 0px;
}
#bpg {
	position: absolute;
	width: 113px;
	height: 109px;
	left: 1051px;
	top: 6.522px;
	overflow: visible;
}
#bph {
	filter: blur(5px);
	fill: rgba(8,12,43,1);
}
.bph {
	position: absolute;
	overflow: visible;
	width: 143px;
	height: 139px;
	left: 0px;
	top: 0px;
}
#bpi {
	position: absolute;
	width: 113px;
	height: 109px;
	left: 1260px;
	top: 6.522px;
	overflow: visible;
}
#bpj {
	filter: blur(5px);
	fill: rgba(8,12,43,1);
}
.bpj {
	position: absolute;
	overflow: visible;
	width: 143px;
	height: 139px;
	left: 0px;
	top: 0px;
}
#bpk {
	position: absolute;
	width: 29.995px;
	height: 18.292px;
	left: 1193.999px;
	top: 49.054px;
	overflow: visible;
}
#bpl {
	fill: rgba(8,12,43,1);
}
.bpl {
	overflow: visible;
	position: absolute;
	width: 18.292px;
	height: 16.168px;
	transform: translate(0px, 0px) matrix(1,0,0,1,12.7655,1.0622) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#bpm {
	fill: rgba(8,12,43,1);
}
.bpm {
	position: absolute;
	overflow: visible;
	width: 22.047px;
	height: 7.953px;
	left: 0px;
	top: 5.169px;
}
#bpn {
	position: absolute;
	width: 113px;
	height: 109px;
	left: 633px;
	top: 6.522px;
	overflow: visible;
}
#bpo {
	filter: blur(5px);
	fill: rgba(8,12,43,1);
}
.bpo {
	position: absolute;
	overflow: visible;
	width: 143px;
	height: 139px;
	left: 0px;
	top: 0px;
}
#bpp {
	position: absolute;
	width: 113px;
	height: 109px;
	left: 6px;
	top: 6.522px;
	overflow: visible;
}
#bpq {
	filter: blur(5px);
	fill: rgba(8,12,43,1);
}
.bpq {
	position: absolute;
	overflow: visible;
	width: 143px;
	height: 139px;
	left: 0px;
	top: 0px;
}
#bpr {
	position: absolute;
	width: 29.995px;
	height: 18.292px;
	left: 985.006px;
	top: 49.054px;
	overflow: visible;
}
#bps {
	fill: rgba(8,12,43,1);
}
.bps {
	overflow: visible;
	position: absolute;
	width: 18.292px;
	height: 16.168px;
	transform: translate(0px, 0px) matrix(1,0,0,1,12.7655,1.0622) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#bpt {
	fill: rgba(8,12,43,1);
}
.bpt {
	position: absolute;
	overflow: visible;
	width: 22.047px;
	height: 7.953px;
	left: 0px;
	top: 5.169px;
}
#bpu {
	position: absolute;
	width: 29.995px;
	height: 18.292px;
	left: 776px;
	top: 49.054px;
	overflow: visible;
}
#bpv {
	fill: rgba(8,12,43,1);
}
.bpv {
	overflow: visible;
	position: absolute;
	width: 18.292px;
	height: 16.168px;
	transform: translate(0px, 0px) matrix(1,0,0,1,12.7655,1.0622) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#bpw {
	fill: rgba(8,12,43,1);
}
.bpw {
	position: absolute;
	overflow: visible;
	width: 22.047px;
	height: 7.953px;
	left: 0px;
	top: 5.169px;
}
#bpx {
	position: absolute;
	width: 29.995px;
	height: 18.292px;
	left: 567.006px;
	top: 49.054px;
	overflow: visible;
}
#bpy {
	fill: rgba(8,12,43,1);
}
.bpy {
	overflow: visible;
	position: absolute;
	width: 18.292px;
	height: 16.168px;
	transform: translate(0px, 0px) matrix(1,0,0,1,12.7655,1.0622) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#bpz {
	fill: rgba(8,12,43,1);
}
.bpz {
	position: absolute;
	overflow: visible;
	width: 22.047px;
	height: 7.953px;
	left: 0px;
	top: 5.169px;
}
#bqa {
	position: absolute;
	width: 29.995px;
	height: 18.292px;
	left: 358.006px;
	top: 49.054px;
	overflow: visible;
}
#bqb {
	fill: rgba(8,12,43,1);
}
.bqb {
	overflow: visible;
	position: absolute;
	width: 18.292px;
	height: 16.168px;
	transform: translate(0px, 0px) matrix(1,0,0,1,12.7655,1.0622) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#bqc {
	fill: rgba(8,12,43,1);
}
.bqc {
	position: absolute;
	overflow: visible;
	width: 22.047px;
	height: 7.953px;
	left: 0px;
	top: 5.169px;
}
#bqd {
	position: absolute;
	width: 29.995px;
	height: 18.292px;
	left: 150.006px;
	top: 48.699px;
	overflow: visible;
}
#bqe {
	fill: rgba(8,12,43,1);
}
.bqe {
	overflow: visible;
	position: absolute;
	width: 18.292px;
	height: 16.168px;
	transform: translate(0px, 0px) matrix(1,0,0,1,12.7655,1.0622) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#bqf {
	fill: rgba(8,12,43,1);
}
.bqf {
	position: absolute;
	overflow: visible;
	width: 22.047px;
	height: 7.953px;
	left: 0px;
	top: 5.169px;
}
#bqg {
	position: absolute;
	width: 119px;
	height: 115px;
	left: 627px;
	top: 0px;
	overflow: visible;
}
#bqh {
	fill: rgba(255,255,255,1);
}
.bqh {
	position: absolute;
	overflow: visible;
	width: 119px;
	height: 115px;
	left: 0px;
	top: 0px;
}
#bqi {
	position: absolute;
	width: 90.997px;
	height: 84.216px;
	left: 14.001px;
	top: 15.392px;
	overflow: visible;
}
#bqj {
	position: absolute;
	width: 119px;
	height: 115px;
	left: 208px;
	top: 0px;
	overflow: visible;
}
#bqk {
	position: absolute;
	width: 119px;
	height: 115px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#bql {
	fill: rgba(255,255,255,1);
}
.bql {
	position: absolute;
	overflow: visible;
	width: 119px;
	height: 115px;
	left: 0px;
	top: 0px;
}
#bqm {
	position: absolute;
	width: 78px;
	height: 78px;
	left: 21px;
	top: 19px;
	overflow: visible;
}
#bqn {
	position: absolute;
	width: 119px;
	height: 115px;
	left: 1254px;
	top: 0px;
	overflow: visible;
}
#bqo {
	fill: rgba(255,255,255,1);
}
.bqo {
	position: absolute;
	overflow: visible;
	width: 119px;
	height: 115px;
	left: 0px;
	top: 0px;
}
#bqp {
	position: absolute;
	width: 119px;
	height: 115px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#bqq {
	position: absolute;
	width: 119px;
	height: 115px;
	left: 417px;
	top: 0px;
	overflow: visible;
}
#bqr {
	fill: rgba(255,255,255,1);
}
.bqr {
	position: absolute;
	overflow: visible;
	width: 119px;
	height: 115px;
	left: 0px;
	top: 0px;
}
#bqs {
	position: absolute;
	width: 119px;
	height: 115px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#bqt {
	position: absolute;
	width: 119px;
	height: 115px;
	left: 1045px;
	top: 0px;
	overflow: visible;
}
#bqu {
	fill: rgba(255,255,255,1);
}
.bqu {
	position: absolute;
	overflow: visible;
	width: 119px;
	height: 115px;
	left: 0px;
	top: 0px;
}
#bqv {
	position: absolute;
	width: 96px;
	height: 90px;
	left: 12px;
	top: 13px;
	overflow: visible;
}
#bqw {
	position: absolute;
	width: 119px;
	height: 115px;
	left: 836px;
	top: 0px;
	overflow: visible;
}
#bqx {
	fill: rgba(255,230,122,1);
}
.bqx {
	position: absolute;
	overflow: visible;
	width: 1565px;
	height: 840px;
	left: 135px;
	top: 685px;
}
#bqy {
	fill: rgba(247,252,247,1);
}
.bqy {
	position: absolute;
	overflow: visible;
	width: 1565px;
	height: 839px;
	left: 100px;
	top: 651px;
}
#bqz {
	position: absolute;
	width: 1213px;
	height: 748.45px;
	left: 331.5px;
	top: 696.775px;
	overflow: visible;
}
#bra {
	position: absolute;
	width: 952px;
	height: 734px;
	left: 261px;
	top: 0px;
	overflow: visible;
}
#brb {
	position: absolute;
	width: 354.433px;
	height: 443.557px;
	left: 0px;
	top: 266.348px;
	overflow: visible;
}
#brc {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.brc {
	width: 342px;
	height: 419.193px;
	position: absolute;
	overflow: visible;
	transform: translate(8734.763px, -3155.796px) matrix(1,0,0,1,-8730,3167.5869) rotate(0deg);
	transform-origin: center;
}
#brd {
	position: absolute;
	width: 342px;
	height: 403px;
	left: 4.763px;
	top: 19.203px;
	overflow: visible;
}
#bre {
	position: absolute;
	width: 354.433px;
	height: 443.557px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#brf {
	position: absolute;
	width: 186.669px;
	height: 390.102px;
	left: 302.331px;
	top: 358.348px;
	overflow: visible;
}
#brg {
	fill: rgba(24,62,98,1);
}
.brg {
	position: absolute;
	overflow: visible;
	width: 160.63px;
	height: 56.093px;
	left: 13.901px;
	top: 7.455px;
}
#brh {
	position: absolute;
	width: 162.393px;
	height: 350.808px;
	left: 12.138px;
	top: 19.646px;
	overflow: visible;
}
#bri {
	position: absolute;
	width: 186.668px;
	height: 390.102px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#brj {
	position: absolute;
	width: 186.668px;
	height: 390.102px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#brk {
	position: absolute;
	width: 124.849px;
	height: 4.999px;
	left: 30.91px;
	top: 22.727px;
	overflow: visible;
}
#brl {
	fill: rgba(255,255,255,1);
}
.brl {
	overflow: visible;
	position: absolute;
	width: 4.646px;
	height: 4.646px;
	left: 113.601px;
	top: 0.176px;
	transform: matrix(1,0,0,1,0,0);
}
#brm {
	fill: rgba(255,255,255,1);
}
.brm {
	overflow: visible;
	position: absolute;
	width: 5.499px;
	height: 4.249px;
	left: 106.853px;
	top: 0.375px;
	transform: matrix(1,0,0,1,0,0);
}
#brn {
	fill: rgba(255,255,255,1);
}
.brn {
	overflow: visible;
	position: absolute;
	width: 2.999px;
	height: 4.999px;
	left: 121.849px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#bro {
	fill: rgba(255,255,255,1);
}
.bro {
	overflow: visible;
	position: absolute;
	width: 12.612px;
	height: 3.834px;
	left: 0px;
	top: 0.583px;
	transform: matrix(1,0,0,1,0,0);
}
#brp {
	position: absolute;
	width: 133.284px;
	height: 136.886px;
	left: 145.289px;
	top: 689.055px;
	overflow: visible;
}
#brq {
	position: absolute;
	width: 133.284px;
	height: 136.886px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#brr {
	fill: rgba(67,52,183,1);
}
.brr {
	position: absolute;
	overflow: visible;
	width: 1565px;
	height: 1186px;
	left: 135px;
	top: 5495px;
}
#brs {
	fill: rgba(255,230,122,1);
}
.brs {
	position: absolute;
	overflow: visible;
	width: 1565px;
	height: 1186px;
	left: 100px;
	top: 5460px;
}
#brt {
	border: 0;
	left: 157px;
	top: 5510px;
	position: absolute;
	overflow: visible;
	width: 350px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 42px;
	color: rgba(8,12,43,1);
}
#bru {
	border: 0;
	left: 157px;
	top: 5570px;
	position: absolute;
	overflow: visible;
	width: 1446px;
	height: 87px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(8,12,43,1);
}
#brv {
	position: absolute;
	width: 1445px;
	height: 910px;
	left: 157px;
	top: 5687px;
	overflow: visible;
}
#brw {
	position: absolute;
	width: 289px;
	height: 165px;
	left: 543px;
	top: 744px;
	overflow: visible;
}
#brx {
	position: absolute;
	width: 290px;
	height: 160px;
	left: 541px;
	top: 570px;
	overflow: visible;
}
#bry {
	position: absolute;
	width: 348px;
	height: 197px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#brz {
	position: absolute;
	width: 351px;
	height: 196px;
	left: 362px;
	top: 0px;
	overflow: visible;
}
#bsa {
	position: absolute;
	width: 351px;
	height: 197px;
	left: 1094px;
	top: 0px;
	overflow: visible;
}
#bsb {
	position: absolute;
	width: 352px;
	height: 197px;
	left: 728px;
	top: 1px;
	overflow: visible;
}
#bsc {
	position: absolute;
	width: 604px;
	height: 313px;
	left: 0px;
	top: 227px;
	overflow: visible;
}
#bsd {
	position: absolute;
	width: 247px;
	height: 338px;
	left: 0px;
	top: 571px;
	overflow: visible;
}
#bse {
	position: absolute;
	width: 402px;
	height: 313px;
	left: 624px;
	top: 228px;
	overflow: visible;
}
#bsf {
	position: absolute;
	width: 402px;
	height: 313px;
	left: 1043px;
	top: 227px;
	overflow: visible;
}
#bsg {
	position: absolute;
	width: 603px;
	height: 338px;
	left: 842px;
	top: 571px;
	overflow: visible;
}
#bsh {
	position: absolute;
	width: 274px;
	height: 339px;
	left: 258px;
	top: 571px;
	overflow: visible;
}
#bsi {
	fill: rgba(255,255,255,1);
}
.bsi {
	position: absolute;
	overflow: visible;
	width: 274px;
	height: 339px;
	left: 0px;
	top: 0px;
}
#bsj {
	position: absolute;
	width: 259px;
	height: 317px;
	left: 7px;
	top: 11px;
	overflow: visible;
}
#bsk {
	fill: rgba(255,230,122,1);
}
.bsk {
	position: absolute;
	overflow: visible;
	width: 943px;
	height: 1563px;
	left: 757px;
	top: 1730px;
}
#bsl {
	fill: rgba(247,252,247,1);
}
.bsl {
	overflow: visible;
	position: absolute;
	width: 943px;
	height: 1563px;
	left: 722px;
	top: 1695px;
	transform: matrix(1,0,0,1,0,0);
}
#bsm {
	border: 0;
	left: 801px;
	top: 1745px;
	position: absolute;
	overflow: visible;
	width: 725px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 42px;
	color: rgba(8,12,43,1);
}
#bsn {
	border: 0;
	left: 801px;
	top: 1805px;
	position: absolute;
	overflow: visible;
	width: 786px;
	height: 84px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(8,12,43,1);
}
#bso {
	border: 0;
	left: 807px;
	top: 1616px;
	position: absolute;
	overflow: visible;
	width: 283px;
	white-space: nowrap;
	text-align: center;
	font-family: Krona One;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(247,252,247,1);
}
#bsp {
	position: absolute;
	width: 785px;
	height: 1289px;
	left: 801px;
	top: 1919px;
	overflow: visible;
}
#bsq {
	position: absolute;
	width: 185px;
	height: 400px;
	left: 405px;
	top: 0px;
	overflow: visible;
}
#bsr {
	position: absolute;
	width: 312px;
	height: 235px;
	left: 0px;
	top: 1054px;
	overflow: visible;
}
#bss {
	position: absolute;
	width: 200px;
	height: 235px;
	left: 331px;
	top: 1054px;
	overflow: visible;
}
#bst {
	position: absolute;
	width: 382px;
	height: 493px;
	left: 0px;
	top: 344px;
	overflow: visible;
}
#bsu {
	position: absolute;
	width: 784px;
	height: 186px;
	left: 0px;
	top: 849px;
	overflow: visible;
}
#bsv {
	position: absolute;
	width: 185px;
	height: 313px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#bsw {
	position: absolute;
	width: 185px;
	height: 400px;
	left: 600px;
	top: 0px;
	overflow: visible;
}
#bsx {
	position: absolute;
	width: 183px;
	height: 313px;
	left: 199px;
	top: 0px;
	overflow: visible;
}
#bsy {
	position: absolute;
	width: 222px;
	height: 112px;
	left: 549px;
	top: 1054px;
	overflow: visible;
}
#bsz {
	position: absolute;
	width: 220px;
	height: 111px;
	left: 549px;
	top: 1178px;
	overflow: visible;
}
#bta {
	position: absolute;
	width: 182px;
	height: 367px;
	left: 603px;
	top: 446px;
	overflow: visible;
}
#btb {
	position: absolute;
	width: 189px;
	height: 370px;
	left: 401px;
	top: 444px;
	overflow: visible;
}
#btc {
	fill: rgba(67,52,183,1);
}
.btc {
	position: absolute;
	overflow: visible;
	width: 531px;
	height: 812px;
	left: 135px;
	top: 1729px;
}
#btd {
	fill: rgba(247,252,247,1);
}
.btd {
	position: absolute;
	overflow: visible;
	width: 531px;
	height: 812px;
	left: 100px;
	top: 1695px;
}
#bte {
	border: 0;
	left: 150px;
	top: 1745px;
	position: absolute;
	overflow: hidden;
	width: 432px;
	height: 43px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 42px;
	color: rgba(8,12,43,1);
}
#btf {
	border: 0;
	left: 150px;
	top: 1818px;
	position: absolute;
	overflow: hidden;
	width: 439px;
	height: 40px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 42px;
	color: rgba(8,12,43,1);
}
#btg {
	position: absolute;
	width: 431px;
	height: 568px;
	left: 150px;
	top: 1888px;
	overflow: visible;
}
#bth {
	border: 0;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 432px;
	height: 40px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 42px;
	color: rgba(8,12,43,1);
}
#bti {
	position: absolute;
	width: 431px;
	height: 26px;
	left: 0px;
	top: 260px;
	overflow: visible;
}
#btj {
	border: 0;
	left: 30px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 402px;
	height: 26px;
	line-height: 22.780000686645508px;
	margin-top: -0.3900003433227539px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(8,12,43,1);
}
#btk {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	display: none;
	overflow: visible;
}
#btl {
	fill: rgba(255,255,255,0);
}
.btl {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
#btm {
	fill: rgba(1,113,235,1);
}
.btm {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 8px;
	top: 8px;
}
#btn {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#bto {
	fill: rgba(255,255,255,0);
}
.bto {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
#btp {
	fill: rgba(8,12,43,1);
}
.btp {
	position: absolute;
	overflow: visible;
	width: 6px;
	height: 6px;
	left: 7px;
	top: 7px;
}
#btq {
	position: absolute;
	width: 431px;
	height: 72px;
	left: 0px;
	top: 296px;
	overflow: visible;
}
#btr {
	border: 0;
	left: 30px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 402px;
	height: 72px;
	line-height: 22.780000686645508px;
	margin-top: -0.3900003433227539px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(8,12,43,1);
}
#bts {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	display: none;
	overflow: visible;
}
#btt {
	fill: rgba(255,255,255,0);
}
.btt {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
#btu {
	fill: rgba(1,113,235,1);
}
.btu {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 8px;
	top: 8px;
}
#btv {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#btw {
	fill: rgba(255,255,255,0);
}
.btw {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
#btx {
	fill: rgba(8,12,43,1);
}
.btx {
	position: absolute;
	overflow: visible;
	width: 6px;
	height: 6px;
	left: 7px;
	top: 7px;
}
#bty {
	position: absolute;
	width: 431px;
	height: 72px;
	left: 0px;
	top: 378px;
	overflow: visible;
}
#btz {
	border: 0;
	left: 30px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 402px;
	height: 72px;
	line-height: 22.780000686645508px;
	margin-top: -0.3900003433227539px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(8,12,43,1);
}
#bua {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	display: none;
	overflow: visible;
}
#bub {
	fill: rgba(255,255,255,0);
}
.bub {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
#buc {
	fill: rgba(1,113,235,1);
}
.buc {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 8px;
	top: 8px;
}
#bud {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#bue {
	fill: rgba(255,255,255,0);
}
.bue {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
#buf {
	fill: rgba(8,12,43,1);
}
.buf {
	position: absolute;
	overflow: visible;
	width: 6px;
	height: 6px;
	left: 7px;
	top: 7px;
}
#bug {
	position: absolute;
	width: 431px;
	height: 49px;
	left: 0px;
	top: 201px;
	overflow: visible;
}
#buh {
	border: 0;
	left: 30px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 402px;
	height: 49px;
	line-height: 22.780000686645508px;
	margin-top: -0.3900003433227539px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(8,12,43,1);
}
#bui {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	display: none;
	overflow: visible;
}
#buj {
	fill: rgba(255,255,255,0);
}
.buj {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
#buk {
	fill: rgba(1,113,235,1);
}
.buk {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 8px;
	top: 8px;
}
#bul {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#bum {
	fill: rgba(255,255,255,0);
}
.bum {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
#bun {
	fill: rgba(8,12,43,1);
}
.bun {
	position: absolute;
	overflow: visible;
	width: 6px;
	height: 6px;
	left: 7px;
	top: 7px;
}
#buo {
	position: absolute;
	width: 431px;
	height: 49px;
	left: 0px;
	top: 460px;
	overflow: visible;
}
#bup {
	border: 0;
	left: 30px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 402px;
	height: 49px;
	line-height: 22.780000686645508px;
	margin-top: -0.3900003433227539px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(8,12,43,1);
}
#buq {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	display: none;
	overflow: visible;
}
#bur {
	fill: rgba(255,255,255,0);
}
.bur {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
#bus {
	fill: rgba(1,113,235,1);
}
.bus {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 8px;
	top: 8px;
}
#but {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#buu {
	fill: rgba(255,255,255,0);
}
.buu {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
#buv {
	fill: rgba(8,12,43,1);
}
.buv {
	position: absolute;
	overflow: visible;
	width: 6px;
	height: 6px;
	left: 7px;
	top: 7px;
}
#buw {
	position: absolute;
	width: 431px;
	height: 49px;
	left: 0px;
	top: 142px;
	overflow: visible;
}
#bux {
	border: 0;
	left: 30px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 402px;
	height: 49px;
	line-height: 22.780000686645508px;
	margin-top: -0.3900003433227539px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(8,12,43,1);
}
#buy {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	display: none;
	overflow: visible;
}
#buz {
	fill: rgba(255,255,255,0);
}
.buz {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
#bva {
	fill: rgba(1,113,235,1);
}
.bva {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 8px;
	top: 8px;
}
#bvb {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#bvc {
	fill: rgba(255,255,255,0);
}
.bvc {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
#bvd {
	fill: rgba(8,12,43,1);
}
.bvd {
	position: absolute;
	overflow: visible;
	width: 6px;
	height: 6px;
	left: 7px;
	top: 7px;
}
#bve {
	position: absolute;
	width: 431px;
	height: 72px;
	left: 0px;
	top: 60px;
	overflow: visible;
}
#bvf {
	border: 0;
	left: 30px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 402px;
	height: 72px;
	line-height: 22.780000686645508px;
	margin-top: -0.3900003433227539px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(8,12,43,1);
}
#bvg {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	display: none;
	overflow: visible;
}
#bvh {
	fill: rgba(255,255,255,0);
}
.bvh {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
#bvi {
	fill: rgba(1,113,235,1);
}
.bvi {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 8px;
	top: 8px;
}
#bvj {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#bvk {
	fill: rgba(255,255,255,0);
}
.bvk {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
#bvl {
	fill: rgba(8,12,43,1);
}
.bvl {
	position: absolute;
	overflow: visible;
	width: 6px;
	height: 6px;
	left: 7px;
	top: 7px;
}
#bvm {
	position: absolute;
	width: 431px;
	height: 49px;
	left: 0px;
	top: 519px;
	overflow: visible;
}
#bvn {
	border: 0;
	left: 30px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 402px;
	height: 49px;
	line-height: 22.780000686645508px;
	margin-top: -0.3900003433227539px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(8,12,43,1);
}
#bvo {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	display: none;
	overflow: visible;
}
#bvp {
	fill: rgba(255,255,255,0);
}
.bvp {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
#bvq {
	fill: rgba(1,113,235,1);
}
.bvq {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 8px;
	top: 8px;
}
#bvr {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#bvs {
	fill: rgba(255,255,255,0);
}
.bvs {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
#bvt {
	fill: rgba(8,12,43,1);
}
.bvt {
	position: absolute;
	overflow: visible;
	width: 6px;
	height: 6px;
	left: 7px;
	top: 7px;
}
#bvu {
	position: absolute;
	width: 1800px;
	height: 93px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#bvv {
	position: absolute;
	width: 1800px;
	height: 93px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#bvw {
	fill: rgba(255,230,122,1);
}
.bvw {
	position: absolute;
	overflow: visible;
	width: 1800px;
	height: 93px;
	left: 0px;
	top: 0px;
}
#bvx {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 668px;
	height: 31px;
	left: 1078px;
	top: 31px;
	overflow: visible;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(8,12,43,1);
}
#bvy {
	position: absolute;
	width: 65.943px;
	height: 66.501px;
	left: 100px;
	top: 12.813px;
	overflow: visible;
}
#bvz {
	fill: rgba(67,52,183,1);
}
.bvz {
	position: absolute;
	overflow: visible;
	width: 62.337px;
	height: 62.337px;
	left: 3.606px;
	top: 4.165px;
}
#bwa {
	position: absolute;
	width: 61.462px;
	height: 61.462px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#bwc {
	fill: url(#bwc);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.bwc {
	overflow: visible;
	position: absolute;
	width: 464.801px;
	height: 18.258px;
	left: 215.641px;
	top: 37.435px;
	transform: matrix(1,0,0,1,0,0);
}