.mediaViewInfo {
	--web-view-name: Selected Works #1 - Spectrum Mobile;
	--web-view-id: Selected_Works_1_-_Spectrum_Mobile;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-refresh-for-changes: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Selected_Works_1_-_Spectrum_Mobile;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
@keyframes  {


}
.Selected_Works_1_-_Spectrum_Mobile_Class {
	position: absolute;
	width: 1800px;
	height: 7712px;
	background-color: rgba(8,12,43,1);
	overflow: hidden;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: spectrum-gamers.html;
	cursor: pointer;
	--web-view-name: Selected Works #1 - Spectrum Mobile;
	--web-view-id: Selected_Works_1_-_Spectrum_Mobile;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-refresh-for-changes: true;
	--web-enable-deep-linking: true;
}
.btv_Class {
	border: 0;
	left: 265px;
	top: 343px;
	position: absolute;
	overflow: visible;
	width: 705px;
	white-space: nowrap;
	text-align: center;
	font-family: Krona One;
	font-style: normal;
	font-weight: normal;
	font-size: 56px;
	color: rgba(247,252,247,1);
}
.btw_Class {
	border: 0;
	left: 244px;
	top: 212px;
	position: absolute;
	overflow: visible;
	width: 601px;
	white-space: nowrap;
	text-align: center;
	font-family: Krona One;
	font-style: normal;
	font-weight: normal;
	font-size: 86px;
	color: rgba(247,252,247,1);
}
.btx_Class {
	fill: rgba(255,230,122,1);
}
.btx {
	position: absolute;
	overflow: visible;
	width: 943px;
	height: 1600px;
	left: 757px;
	top: 1686px;
}
.bty_Class {
	fill: rgba(247,252,247,1);
}
.bty {
	overflow: visible;
	position: absolute;
	width: 943px;
	height: 1600px;
	left: 722px;
	top: 1651px;
	transform: matrix(1,0,0,1,0,0);
}
.btz_Class {
	border: 0;
	left: 801px;
	top: 1701px;
	position: absolute;
	overflow: visible;
	width: 274px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 42px;
	color: rgba(8,12,43,1);
}
.bua_Class {
	position: absolute;
	width: 785px;
	height: 1337.488px;
	left: 801px;
	top: 1846px;
	overflow: visible;
}
.bub_Class {
	fill: rgba(8,12,43,1);
}
.bub {
	overflow: visible;
	position: absolute;
	width: 784.365px;
	height: 1337.488px;
	left: 0.318px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.buc_Class {
	position: absolute;
	width: 785px;
	height: 1327px;
	left: 0px;
	top: 0.641px;
	overflow: visible;
}
.bud_Class {
	fill: rgba(255,230,122,1);
}
.bud {
	position: absolute;
	overflow: visible;
	width: 1565px;
	height: 840px;
	left: 135px;
	top: 661px;
}
.bue_Class {
	fill: rgba(247,252,247,1);
}
.bue {
	position: absolute;
	overflow: visible;
	width: 1565px;
	height: 839px;
	left: 100px;
	top: 627px;
}
.buf_Class {
	position: absolute;
	width: 1018.092px;
	height: 760.642px;
	left: 388.338px;
	top: 676.5px;
	overflow: visible;
}
.bug_Class {
	position: absolute;
	width: 828.421px;
	height: 748.73px;
	left: 119.963px;
	top: 0px;
	overflow: visible;
}
.buh_Class {
	position: absolute;
	width: 828.421px;
	height: 748.729px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.bui_Class {
	position: absolute;
	width: 777.298px;
	height: 535.046px;
	left: 25.562px;
	top: 17.428px;
	overflow: visible;
}
.buj_Class {
	position: absolute;
	width: 127.802px;
	height: 276.527px;
	left: 890.29px;
	top: 478.114px;
	overflow: visible;
}
.buk_Class {
	filter: blur(5px);
	fill: rgba(180,180,180,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.buk {
	position: absolute;
	overflow: visible;
	width: 155.483px;
	height: 40.457px;
	left: 1.162px;
	top: 266.07px;
}
.bul_Class {
	position: absolute;
	width: 127.802px;
	height: 271.299px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.bum_Class {
	fill: rgba(255,255,255,1);
}
.bum {
	position: absolute;
	overflow: visible;
	width: 116.769px;
	height: 39.504px;
	left: 4.647px;
	top: 5.229px;
}
.bun_Class {
	position: absolute;
	width: 121.417px;
	height: 259.68px;
	left: 2.905px;
	top: 5.228px;
	overflow: visible;
}
.buo_Class {
	position: absolute;
	width: 127.802px;
	height: 271.299px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.bup_Class {
	position: absolute;
	width: 116.769px;
	height: 10.457px;
	left: 4.647px;
	top: 5.228px;
	overflow: visible;
}
.buq_Class {
	fill: rgba(0,0,0,0.545);
}
.buq {
	position: absolute;
	overflow: visible;
	width: 116.769px;
	height: 10.457px;
	left: 0px;
	top: 0px;
}
.bur_Class {
	fill: rgba(255,255,255,1);
}
.bur {
	overflow: visible;
	position: absolute;
	width: 8.259px;
	height: 2.71px;
	left: 6.505px;
	top: 4.852px;
	transform: matrix(1,0,0,1,0,0);
}
.bus_Class {
	fill: rgba(255,255,255,1);
}
.bus {
	overflow: visible;
	position: absolute;
	width: 3.014px;
	height: 3.014px;
	left: 16.484px;
	top: 4.538px;
	transform: matrix(1,0,0,1,0,0);
}
.but_Class {
	position: absolute;
	width: 3.641px;
	height: 3.641px;
	left: 20.722px;
	top: 4.234px;
	overflow: visible;
}
.buu_Class {
	fill: rgba(255,255,255,1);
}
.buu {
	overflow: visible;
	position: absolute;
	width: 2.645px;
	height: 3.034px;
	left: 25.771px;
	top: 4.538px;
	transform: matrix(1,0,0,1,0,0);
}
.buv_Class {
	fill: rgba(255,255,255,1);
}
.buv {
	position: absolute;
	overflow: visible;
	width: 0.91px;
	height: 0.91px;
	left: 29.824px;
	top: 5.6px;
}
.buw_Class {
	fill: rgba(255,255,255,1);
}
.buw {
	overflow: visible;
	position: absolute;
	width: 3.155px;
	height: 3.154px;
	left: 97.208px;
	top: 4.478px;
	transform: matrix(1,0,0,1,0,0);
}
.bux_Class {
	fill: rgba(255,255,255,1);
}
.bux {
	overflow: visible;
	position: absolute;
	width: 0.755px;
	height: 0.971px;
	left: 97.211px;
	top: 4.547px;
	transform: matrix(1,0,0,1,0,0);
}
.buy_Class {
	fill: rgba(255,255,255,1);
}
.buy {
	overflow: visible;
	position: absolute;
	width: 1.041px;
	height: 1.062px;
	left: 98.081px;
	top: 4.479px;
	transform: matrix(1,0,0,1,0,0);
}
.buz_Class {
	position: absolute;
	width: 3.785px;
	height: 3.786px;
	left: 101.589px;
	top: 4.162px;
	overflow: visible;
}
.bva_Class {
	fill: rgba(61,220,132,1);
}
.bva {
	position: absolute;
	overflow: visible;
	width: 3.785px;
	height: 3.786px;
	left: 106.285px;
	top: 4.162px;
}
.bvb_Class {
	fill: rgba(255,255,255,1);
}
.bvb {
	overflow: visible;
	position: absolute;
	width: 1.691px;
	height: 2.295px;
	left: 107.351px;
	top: 4.905px;
	transform: matrix(1,0,0,1,0,0);
}
.bvc_Class {
	filter: blur(5px);
	fill: rgba(180,180,180,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.bvc {
	position: absolute;
	overflow: visible;
	width: 331.702px;
	height: 47px;
	left: 0px;
	top: 743.642px;
}
.bvd_Class {
	position: absolute;
	width: 291.236px;
	height: 380.225px;
	left: 5.233px;
	top: 374.416px;
	overflow: visible;
}
.bve_Class {
	position: absolute;
	width: 291.237px;
	height: 380.225px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.bvf_Class {
	position: absolute;
	width: 267.62px;
	height: 358.879px;
	left: 11.366px;
	top: 9.658px;
	overflow: visible;
}
.bvg_Class {
	border: 0;
	left: 801px;
	top: 1761px;
	position: absolute;
	overflow: visible;
	width: 786px;
	height: 55px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(8,12,43,1);
}
.bvh_Class {
	position: absolute;
	width: 1018.092px;
	height: 760.642px;
	left: 388.338px;
	top: 676.5px;
	overflow: visible;
}
.bvi_Class {
	position: absolute;
	width: 828.421px;
	height: 748.73px;
	left: 119.963px;
	top: 0px;
	overflow: visible;
}
.bvj_Class {
	position: absolute;
	width: 828.421px;
	height: 748.729px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.bvk_Class {
	position: absolute;
	width: 777.298px;
	height: 535.046px;
	left: 25.562px;
	top: 17.428px;
	overflow: visible;
}
.bvl_Class {
	position: absolute;
	width: 127.802px;
	height: 276.527px;
	left: 890.29px;
	top: 478.114px;
	overflow: visible;
}
.bvm_Class {
	filter: blur(5px);
	fill: rgba(180,180,180,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.bvm {
	position: absolute;
	overflow: visible;
	width: 155.483px;
	height: 40.457px;
	left: 1.162px;
	top: 266.071px;
}
.bvn_Class {
	position: absolute;
	width: 127.802px;
	height: 271.299px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.bvo_Class {
	fill: rgba(255,255,255,1);
}
.bvo {
	position: absolute;
	overflow: visible;
	width: 116.769px;
	height: 39.504px;
	left: 4.647px;
	top: 5.229px;
}
.bvp_Class {
	position: absolute;
	width: 121.417px;
	height: 259.68px;
	left: 2.905px;
	top: 5.228px;
	overflow: visible;
}
.bvq_Class {
	position: absolute;
	width: 127.802px;
	height: 271.299px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.bvr_Class {
	position: absolute;
	width: 116.769px;
	height: 10.457px;
	left: 4.648px;
	top: 5.228px;
	overflow: visible;
}
.bvs_Class {
	fill: rgba(0,0,0,0.545);
}
.bvs {
	position: absolute;
	overflow: visible;
	width: 116.769px;
	height: 10.457px;
	left: 0px;
	top: 0px;
}
.bvt_Class {
	fill: rgba(255,255,255,1);
}
.bvt {
	overflow: visible;
	position: absolute;
	width: 8.259px;
	height: 2.71px;
	left: 6.505px;
	top: 4.852px;
	transform: matrix(1,0,0,1,0,0);
}
.bvu_Class {
	fill: rgba(255,255,255,1);
}
.bvu {
	overflow: visible;
	position: absolute;
	width: 3.014px;
	height: 3.014px;
	left: 16.484px;
	top: 4.537px;
	transform: matrix(1,0,0,1,0,0);
}
.bvv_Class {
	position: absolute;
	width: 3.641px;
	height: 3.641px;
	left: 20.721px;
	top: 4.234px;
	overflow: visible;
}
.bvw_Class {
	fill: rgba(255,255,255,1);
}
.bvw {
	overflow: visible;
	position: absolute;
	width: 2.645px;
	height: 3.034px;
	left: 25.771px;
	top: 4.537px;
	transform: matrix(1,0,0,1,0,0);
}
.bvx_Class {
	fill: rgba(255,255,255,1);
}
.bvx {
	position: absolute;
	overflow: visible;
	width: 0.91px;
	height: 0.91px;
	left: 29.824px;
	top: 5.599px;
}
.bvy_Class {
	fill: rgba(255,255,255,1);
}
.bvy {
	overflow: visible;
	position: absolute;
	width: 3.155px;
	height: 3.154px;
	left: 97.209px;
	top: 4.477px;
	transform: matrix(1,0,0,1,0,0);
}
.bvz_Class {
	fill: rgba(255,255,255,1);
}
.bvz {
	overflow: visible;
	position: absolute;
	width: 0.755px;
	height: 0.971px;
	left: 97.21px;
	top: 4.547px;
	transform: matrix(1,0,0,1,0,0);
}
.bwa_Class {
	fill: rgba(255,255,255,1);
}
.bwa {
	overflow: visible;
	position: absolute;
	width: 1.041px;
	height: 1.062px;
	left: 98.081px;
	top: 4.478px;
	transform: matrix(1,0,0,1,0,0);
}
.bwb_Class {
	position: absolute;
	width: 3.785px;
	height: 3.786px;
	left: 101.589px;
	top: 4.162px;
	overflow: visible;
}
.bwc_Class {
	fill: rgba(61,220,132,1);
}
.bwc {
	position: absolute;
	overflow: visible;
	width: 3.785px;
	height: 3.786px;
	left: 106.285px;
	top: 4.162px;
}
.bwd_Class {
	fill: rgba(255,255,255,1);
}
.bwd {
	overflow: visible;
	position: absolute;
	width: 1.691px;
	height: 2.295px;
	left: 107.351px;
	top: 4.905px;
	transform: matrix(1,0,0,1,0,0);
}
.bwe_Class {
	filter: blur(5px);
	fill: rgba(180,180,180,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.bwe {
	position: absolute;
	overflow: visible;
	width: 331.702px;
	height: 47px;
	left: 0px;
	top: 743.642px;
}
.bwf_Class {
	position: absolute;
	width: 291.236px;
	height: 380.225px;
	left: 5.233px;
	top: 374.416px;
	overflow: visible;
}
.bwg_Class {
	position: absolute;
	width: 291.237px;
	height: 380.225px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.bwh_Class {
	position: absolute;
	width: 267.62px;
	height: 358.879px;
	left: 11.366px;
	top: 9.658px;
	overflow: visible;
}
.bwi_Class {
	border: 0;
	left: 100px;
	top: 410px;
	position: absolute;
	overflow: visible;
	width: 1566px;
	height: 167px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(247,252,247,1);
}
.bwj_Class {
	border: 0;
	left: 189px;
	top: 3349px;
	position: absolute;
	overflow: visible;
	width: 393px;
	white-space: nowrap;
	text-align: center;
	font-family: Krona One;
	font-style: normal;
	font-weight: normal;
	font-size: 56px;
	color: rgba(247,252,247,1);
}
.bwk_Class {
	fill: rgba(67,52,183,1);
}
.bwk {
	position: absolute;
	overflow: visible;
	width: 517px;
	height: 697px;
	left: 135px;
	top: 2589px;
}
.bwl_Class {
	fill: rgba(247,252,247,1);
}
.bwl {
	position: absolute;
	overflow: visible;
	width: 517px;
	height: 697px;
	left: 100px;
	top: 2554px;
}
.bwm_Class {
	border: 0;
	left: 305px;
	top: 2609px;
	position: absolute;
	overflow: visible;
	width: 219px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(8,12,43,1);
}
.bwn_Class {
	border: 0;
	left: 157px;
	top: 2716px;
	position: absolute;
	overflow: visible;
	width: 404px;
	height: 485px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(8,12,43,1);
}
.bwo_Class {
	position: absolute;
	width: 101px;
	height: 101px;
	left: 174px;
	top: 2596px;
	overflow: visible;
}
.bwp_Class {
	position: absolute;
	width: 101px;
	height: 101px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.bwq_Class {
	fill: rgba(8,12,43,1);
}
.bwq {
	overflow: visible;
	position: absolute;
	width: 52.304px;
	height: 34.418px;
	left: 115.78px;
	top: 2571.804px;
	transform: matrix(1,0,0,1,0,0);
}
.bwr_Class {
	border: 0;
	left: 163px;
	top: 2467px;
	position: absolute;
	overflow: visible;
	width: 259px;
	white-space: nowrap;
	text-align: center;
	font-family: Krona One;
	font-style: normal;
	font-weight: normal;
	font-size: 56px;
	color: rgba(247,252,247,1);
}
.bws_Class {
	border: 0;
	left: 166px;
	top: 1564px;
	position: absolute;
	overflow: visible;
	width: 241px;
	white-space: nowrap;
	text-align: center;
	font-family: Krona One;
	font-style: normal;
	font-weight: normal;
	font-size: 56px;
	color: rgba(247,252,247,1);
}
.bwt_Class {
	border: 0;
	left: 773px;
	top: 1564px;
	position: absolute;
	overflow: visible;
	width: 225px;
	white-space: nowrap;
	text-align: center;
	font-family: Krona One;
	font-style: normal;
	font-weight: normal;
	font-size: 56px;
	color: rgba(247,252,247,1);
}
.bwu_Class {
	fill: rgba(67,52,183,1);
}
.bwu {
	position: absolute;
	overflow: visible;
	width: 1565px;
	height: 913px;
	left: 135px;
	top: 4320px;
}
.bwv_Class {
	fill: rgba(247,252,247,1);
}
.bwv {
	position: absolute;
	overflow: visible;
	width: 1565px;
	height: 913px;
	left: 100px;
	top: 4285px;
}
.bww_Class {
	border: 0;
	left: 150px;
	top: 4335px;
	position: absolute;
	overflow: visible;
	width: 1466px;
	height: 231px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(8,12,43,1);
}
.bwx_Class {
	border: 0;
	left: 150px;
	top: 5024px;
	position: absolute;
	overflow: visible;
	width: 1466px;
	height: 124px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(8,12,43,1);
}
.bwy_Class {
	border: 0;
	left: 150px;
	top: 4596px;
	position: absolute;
	overflow: visible;
	width: 1466px;
	height: 398px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(8,12,43,1);
}
.bwz_Class {
	border: 0;
	left: 212px;
	top: 4198px;
	position: absolute;
	overflow: visible;
	width: 471px;
	white-space: nowrap;
	text-align: center;
	font-family: Krona One;
	font-style: normal;
	font-weight: normal;
	font-size: 56px;
	color: rgba(247,252,247,1);
}
.bxa_Class {
	fill: rgba(67,52,183,1);
}
.bxa {
	position: absolute;
	overflow: visible;
	width: 531px;
	height: 739px;
	left: 135px;
	top: 1685px;
}
.bxb_Class {
	fill: rgba(247,252,247,1);
}
.bxb {
	position: absolute;
	overflow: visible;
	width: 531px;
	height: 739px;
	left: 100px;
	top: 1651px;
}
.bxc_Class {
	border: 0;
	left: 150px;
	top: 1701px;
	position: absolute;
	overflow: hidden;
	width: 432px;
	height: 43px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 42px;
	color: rgba(8,12,43,1);
}
.bxd_Class {
	border: 0;
	left: 150px;
	top: 1774px;
	position: absolute;
	overflow: hidden;
	width: 439px;
	height: 40px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 42px;
	color: rgba(8,12,43,1);
}
.bxe_Class {
	position: absolute;
	width: 431px;
	height: 486px;
	left: 150px;
	top: 1844px;
	overflow: visible;
}
.bxf_Class {
	border: 0;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 432px;
	height: 40px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 42px;
	color: rgba(8,12,43,1);
}
.bxg_Class {
	position: absolute;
	width: 431px;
	height: 49px;
	left: 0px;
	top: 214px;
	overflow: visible;
}
.bxh_Class {
	border: 0;
	left: 30px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 402px;
	height: 49px;
	line-height: 22.780000686645508px;
	margin-top: -0.3900003433227539px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(8,12,43,1);
}
.bxi_Class {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	display: none;
	overflow: visible;
}
.bxj_Class {
	fill: rgba(255,255,255,0);
}
.bxj {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
.bxk_Class {
	fill: rgba(1,113,235,1);
}
.bxk {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 8px;
	top: 8px;
}
.bxl_Class {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.bxm_Class {
	fill: rgba(255,255,255,0);
}
.bxm {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
.bxn_Class {
	fill: rgba(8,12,43,1);
}
.bxn {
	position: absolute;
	overflow: visible;
	width: 6px;
	height: 6px;
	left: 7px;
	top: 7px;
}
.bxo_Class {
	position: absolute;
	width: 431px;
	height: 49px;
	left: 0px;
	top: 273px;
	overflow: visible;
}
.bxp_Class {
	border: 0;
	left: 30px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 402px;
	height: 49px;
	line-height: 22.780000686645508px;
	margin-top: -0.3900003433227539px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(8,12,43,1);
}
.bxq_Class {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	display: none;
	overflow: visible;
}
.bxr_Class {
	fill: rgba(255,255,255,0);
}
.bxr {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
.bxs_Class {
	fill: rgba(1,113,235,1);
}
.bxs {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 8px;
	top: 8px;
}
.bxt_Class {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.bxu_Class {
	fill: rgba(255,255,255,0);
}
.bxu {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
.bxv_Class {
	fill: rgba(8,12,43,1);
}
.bxv {
	position: absolute;
	overflow: visible;
	width: 6px;
	height: 6px;
	left: 7px;
	top: 7px;
}
.bxw_Class {
	position: absolute;
	width: 431px;
	height: 72px;
	left: 0px;
	top: 332px;
	overflow: visible;
}
.bxx_Class {
	border: 0;
	left: 30px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 402px;
	height: 72px;
	line-height: 22.780000686645508px;
	margin-top: -0.3900003433227539px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(8,12,43,1);
}
.bxy_Class {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	display: none;
	overflow: visible;
}
.bxz_Class {
	fill: rgba(255,255,255,0);
}
.bxz {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
.bya_Class {
	fill: rgba(1,113,235,1);
}
.bya {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 8px;
	top: 8px;
}
.byb_Class {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.byc_Class {
	fill: rgba(255,255,255,0);
}
.byc {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
.byd_Class {
	fill: rgba(8,12,43,1);
}
.byd {
	position: absolute;
	overflow: visible;
	width: 6px;
	height: 6px;
	left: 7px;
	top: 7px;
}
.bye_Class {
	position: absolute;
	width: 431px;
	height: 26px;
	left: 0px;
	top: 178px;
	overflow: visible;
}
.byf_Class {
	border: 0;
	left: 30px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 402px;
	height: 26px;
	line-height: 22.780000686645508px;
	margin-top: -0.3900003433227539px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(8,12,43,1);
}
.byg_Class {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	display: none;
	overflow: visible;
}
.byh_Class {
	fill: rgba(255,255,255,0);
}
.byh {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
.byi_Class {
	fill: rgba(1,113,235,1);
}
.byi {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 8px;
	top: 8px;
}
.byj_Class {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.byk_Class {
	fill: rgba(255,255,255,0);
}
.byk {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
.byl_Class {
	fill: rgba(8,12,43,1);
}
.byl {
	position: absolute;
	overflow: visible;
	width: 6px;
	height: 6px;
	left: 7px;
	top: 7px;
}
.bym_Class {
	position: absolute;
	width: 431px;
	height: 72px;
	left: 0px;
	top: 414px;
	overflow: visible;
}
.byn_Class {
	border: 0;
	left: 30px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 402px;
	height: 72px;
	line-height: 22.780000686645508px;
	margin-top: -0.3900003433227539px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(8,12,43,1);
}
.byo_Class {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	display: none;
	overflow: visible;
}
.byp_Class {
	fill: rgba(255,255,255,0);
}
.byp {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
.byq_Class {
	fill: rgba(1,113,235,1);
}
.byq {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 8px;
	top: 8px;
}
.byr_Class {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.bys_Class {
	fill: rgba(255,255,255,0);
}
.bys {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
.byt_Class {
	fill: rgba(8,12,43,1);
}
.byt {
	position: absolute;
	overflow: visible;
	width: 6px;
	height: 6px;
	left: 7px;
	top: 7px;
}
.byu_Class {
	position: absolute;
	width: 431px;
	height: 49px;
	left: 0px;
	top: 119px;
	overflow: visible;
}
.byv_Class {
	border: 0;
	left: 30px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 402px;
	height: 49px;
	line-height: 22.780000686645508px;
	margin-top: -0.3900003433227539px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(8,12,43,1);
}
.byw_Class {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	display: none;
	overflow: visible;
}
.byx_Class {
	fill: rgba(255,255,255,0);
}
.byx {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
.byy_Class {
	fill: rgba(1,113,235,1);
}
.byy {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 8px;
	top: 8px;
}
.byz_Class {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.bza_Class {
	fill: rgba(255,255,255,0);
}
.bza {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
.bzb_Class {
	fill: rgba(8,12,43,1);
}
.bzb {
	position: absolute;
	overflow: visible;
	width: 6px;
	height: 6px;
	left: 7px;
	top: 7px;
}
.bzc_Class {
	position: absolute;
	width: 431px;
	height: 49px;
	left: 0px;
	top: 60px;
	overflow: visible;
}
.bzd_Class {
	border: 0;
	left: 30px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 402px;
	height: 49px;
	line-height: 22.780000686645508px;
	margin-top: -0.3900003433227539px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(8,12,43,1);
}
.bze_Class {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	display: none;
	overflow: visible;
}
.bzf_Class {
	fill: rgba(255,255,255,0);
}
.bzf {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
.bzg_Class {
	fill: rgba(1,113,235,1);
}
.bzg {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 8px;
	top: 8px;
}
.bzh_Class {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.bzi_Class {
	fill: rgba(255,255,255,0);
}
.bzi {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
.bzj_Class {
	fill: rgba(8,12,43,1);
}
.bzj {
	position: absolute;
	overflow: visible;
	width: 6px;
	height: 6px;
	left: 7px;
	top: 7px;
}
.bzk_Class {
	border: 0;
	left: 237px;
	top: 5296px;
	position: absolute;
	overflow: visible;
	width: 543px;
	white-space: nowrap;
	text-align: center;
	font-family: Krona One;
	font-style: normal;
	font-weight: normal;
	font-size: 56px;
	color: rgba(247,252,247,1);
}
.bzl_Class {
	fill: rgba(67,52,183,1);
}
.bzl {
	position: absolute;
	overflow: visible;
	width: 1565px;
	height: 730px;
	left: 135px;
	top: 5418px;
}
.bzm_Class {
	fill: rgba(255,230,122,1);
}
.bzm {
	position: absolute;
	overflow: visible;
	width: 1565px;
	height: 730px;
	left: 100px;
	top: 5383px;
}
.bzn_Class {
	position: absolute;
	width: 1452px;
	height: 513px;
	left: 157px;
	top: 5550px;
	overflow: visible;
}
.bzo_Class {
	position: absolute;
	width: 535px;
	height: 323px;
	left: 917px;
	top: 190px;
	overflow: visible;
}
.bzp_Class {
	position: absolute;
	width: 255px;
	height: 176px;
	left: 1197px;
	top: 0px;
	overflow: visible;
}
.bzq_Class {
	position: absolute;
	width: 255px;
	height: 176px;
	left: 917px;
	top: 0px;
	overflow: visible;
}
.bzr_Class {
	position: absolute;
	width: 893px;
	height: 513px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.bzs_Class {
	border: 0;
	left: 157px;
	top: 5433px;
	position: absolute;
	overflow: visible;
	width: 680px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 42px;
	color: rgba(8,12,43,1);
}
.bzt_Class {
	border: 0;
	left: 157px;
	top: 5493px;
	position: absolute;
	overflow: visible;
	width: 1446px;
	height: 27px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(8,12,43,1);
}
.bzu_Class {
	fill: rgba(247,252,247,1);
}
.bzu {
	position: absolute;
	overflow: visible;
	width: 1565px;
	height: 664px;
	left: 135px;
	top: 3471.045px;
}
.bzv_Class {
	fill: rgba(255,230,122,1);
}
.bzv {
	overflow: visible;
	position: absolute;
	width: 1565px;
	height: 664px;
	left: 100px;
	top: 3436px;
	transform: matrix(1,0,0,1,0,0);
}
.bzw_Class {
	position: absolute;
	width: 1389.418px;
	height: 187.082px;
	left: 177.582px;
	top: 3862.44px;
	overflow: visible;
}
.bzx_Class {
	fill: rgba(8,12,43,1);
}
.bzx {
	overflow: visible;
	position: absolute;
	width: 156.024px;
	height: 46.91px;
	left: 0px;
	top: 0.374px;
	transform: matrix(1,0,0,1,0,0);
}
.bzy_Class {
	fill: rgba(8,12,43,1);
}
.bzy {
	overflow: visible;
	position: absolute;
	width: 129.602px;
	height: 43.39px;
	left: 220.1px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.bzz_Class {
	fill: rgba(8,12,43,1);
}
.bzz {
	overflow: visible;
	position: absolute;
	width: 115.72px;
	height: 43.456px;
	left: 437.251px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.caa_Class {
	fill: rgba(8,12,43,1);
}
.caa {
	overflow: visible;
	position: absolute;
	width: 146.454px;
	height: 43.39px;
	left: 630.554px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.cab_Class {
	fill: rgba(8,12,43,1);
}
.cab {
	overflow: visible;
	position: absolute;
	width: 120.846px;
	height: 43.016px;
	left: 855.127px;
	top: 0.374px;
	transform: matrix(1,0,0,1,0,0);
}
.cac_Class {
	fill: rgba(8,12,43,1);
}
.cac {
	overflow: visible;
	position: absolute;
	width: 91.806px;
	height: 46.91px;
	left: 1078.878px;
	top: 0.374px;
	transform: matrix(1,0,0,1,0,0);
}
.cad_Class {
	fill: rgba(8,12,43,1);
}
.cad {
	overflow: visible;
	position: absolute;
	width: 111.21px;
	height: 43.016px;
	left: 1277.032px;
	top: 0.374px;
	transform: matrix(1,0,0,1,0,0);
}
.cae_Class {
	position: absolute;
	width: 1372px;
	height: 115px;
	left: 17.418px;
	top: 72.082px;
	overflow: visible;
}
.caf_Class {
	position: absolute;
	width: 113px;
	height: 109px;
	left: 213px;
	top: 6px;
	overflow: visible;
}
.cag_Class {
	filter: blur(5px);
	fill: rgba(8,12,43,1);
}
.cag {
	position: absolute;
	overflow: visible;
	width: 143px;
	height: 139px;
	left: 0px;
	top: 0px;
}
.cah_Class {
	position: absolute;
	width: 113px;
	height: 109px;
	left: 422px;
	top: 6px;
	overflow: visible;
}
.cai_Class {
	filter: blur(5px);
	fill: rgba(8,12,43,1);
}
.cai {
	position: absolute;
	overflow: visible;
	width: 143px;
	height: 139px;
	left: 0px;
	top: 0px;
}
.caj_Class {
	position: absolute;
	width: 113px;
	height: 109px;
	left: 841px;
	top: 6px;
	overflow: visible;
}
.cak_Class {
	filter: blur(5px);
	fill: rgba(8,12,43,1);
}
.cak {
	position: absolute;
	overflow: visible;
	width: 143px;
	height: 139px;
	left: 0px;
	top: 0px;
}
.cal_Class {
	position: absolute;
	width: 113px;
	height: 109px;
	left: 1050px;
	top: 6px;
	overflow: visible;
}
.cam_Class {
	filter: blur(5px);
	fill: rgba(8,12,43,1);
}
.cam {
	position: absolute;
	overflow: visible;
	width: 143px;
	height: 139px;
	left: 0px;
	top: 0px;
}
.can_Class {
	position: absolute;
	width: 113px;
	height: 109px;
	left: 1259px;
	top: 6px;
	overflow: visible;
}
.cao_Class {
	filter: blur(5px);
	fill: rgba(8,12,43,1);
}
.cao {
	position: absolute;
	overflow: visible;
	width: 143px;
	height: 139px;
	left: 0px;
	top: 0px;
}
.cap_Class {
	position: absolute;
	width: 119px;
	height: 115px;
	left: 835px;
	top: 0px;
	overflow: visible;
}
.caq_Class {
	position: absolute;
	width: 119px;
	height: 115px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.car_Class {
	position: absolute;
	width: 118px;
	height: 115px;
	left: 209px;
	top: 0px;
	overflow: visible;
}
.cas_Class {
	position: absolute;
	width: 118px;
	height: 115px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.cat_Class {
	fill: rgba(255,255,255,1);
}
.cat {
	position: absolute;
	overflow: visible;
	width: 118px;
	height: 115px;
	left: 0px;
	top: 0px;
}
.cau_Class {
	position: absolute;
	width: 98.1px;
	height: 90.947px;
	left: 9.872px;
	top: 11.72px;
	overflow: visible;
}
.cav_Class {
	fill: rgba(123,131,235,1);
}
.cav {
	overflow: visible;
	position: absolute;
	width: 28.613px;
	height: 28.613px;
	left: 37.81px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.caw_Class {
	opacity: 0.1;
	fill: rgba(0,0,0,1);
}
.caw {
	overflow: visible;
	position: absolute;
	width: 17.042px;
	height: 11.24px;
	left: 38.139px;
	top: 17.372px;
	transform: matrix(1,0,0,1,0,0);
}
.cax_Class {
	opacity: 0.2;
	fill: rgba(0,0,0,1);
}
.cax {
	overflow: visible;
	position: absolute;
	width: 12.929px;
	height: 8.175px;
	left: 39.187px;
	top: 20.438px;
	transform: matrix(1,0,0,1,0,0);
}
.cay_Class {
	fill: rgba(80,89,201,1);
}
.cay {
	overflow: visible;
	position: absolute;
	width: 21.459px;
	height: 21.459px;
	left: 73.575px;
	top: 8.175px;
	transform: matrix(1,0,0,1,0,0);
}
.caz_Class {
	fill: rgba(80,89,201,1);
}
.caz {
	overflow: visible;
	position: absolute;
	width: 30.659px;
	height: 42.737px;
	left: 67.441px;
	top: 32.7px;
	transform: matrix(1,0,0,1,0,0);
}
.cba_Class {
	fill: rgba(123,131,235,1);
}
.cba {
	overflow: visible;
	position: absolute;
	width: 49.05px;
	height: 58.247px;
	left: 27.591px;
	top: 32.7px;
	transform: matrix(1,0,0,1,0,0);
}
.cbb_Class {
	opacity: 0.2;
	fill: rgba(0,0,0,1);
}
.cbb {
	overflow: visible;
	position: absolute;
	width: 12.929px;
	height: 8.175px;
	left: 39.187px;
	top: 20.438px;
	transform: matrix(1,0,0,1,0,0);
}
.cbc_Class {
	opacity: 0.1;
	fill: rgba(0,0,0,1);
}
.cbc {
	overflow: visible;
	position: absolute;
	width: 27.591px;
	height: 42.919px;
	left: 27.591px;
	top: 32.7px;
	transform: matrix(1,0,0,1,0,0);
}
.cbd_Class {
	opacity: 0.2;
	fill: rgba(0,0,0,1);
}
.cbd {
	overflow: visible;
	position: absolute;
	width: 24.525px;
	height: 45.984px;
	left: 27.591px;
	top: 32.7px;
	transform: matrix(1,0,0,1,0,0);
}
.cbe_Class {
	opacity: 0.2;
	fill: rgba(0,0,0,1);
}
.cbe {
	overflow: visible;
	position: absolute;
	width: 24.525px;
	height: 39.853px;
	left: 27.591px;
	top: 32.7px;
	transform: matrix(1,0,0,1,0,0);
}
.cbf_Class {
	opacity: 0.2;
	fill: rgba(0,0,0,1);
}
.cbf {
	overflow: visible;
	position: absolute;
	width: 21.459px;
	height: 39.853px;
	left: 27.591px;
	top: 32.7px;
	transform: matrix(1,0,0,1,0,0);
}
.cbg_Class {
	fill: rgba(75,83,188,1);
}
.cbg {
	overflow: visible;
	position: absolute;
	width: 49.05px;
	height: 49.05px;
	left: 0px;
	top: 20.438px;
	transform: matrix(1,0,0,1,0,0);
}
.cbh_Class {
	fill: rgba(255,255,255,1);
}
.cbh {
	overflow: visible;
	position: absolute;
	width: 24.354px;
	height: 30.628px;
	left: 12.349px;
	top: 29.646px;
	transform: matrix(1,0,0,1,0,0);
}
.cbi_Class {
	position: absolute;
	width: 29.995px;
	height: 18.292px;
	left: 1192.999px;
	top: 48.531px;
	overflow: visible;
}
.cbj_Class {
	fill: rgba(8,12,43,1);
}
.cbj {
	overflow: visible;
	position: absolute;
	width: 18.292px;
	height: 16.168px;
	transform: translate(0px, 0px) matrix(1,0,0,1,12.7655,1.0622) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.cbk_Class {
	fill: rgba(8,12,43,1);
}
.cbk {
	position: absolute;
	overflow: visible;
	width: 22.047px;
	height: 7.953px;
	left: 0px;
	top: 5.169px;
}
.cbl_Class {
	position: absolute;
	width: 119px;
	height: 115px;
	left: 1253px;
	top: 0px;
	overflow: visible;
}
.cbm_Class {
	position: absolute;
	width: 119px;
	height: 115px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.cbn_Class {
	position: absolute;
	width: 119px;
	height: 115px;
	left: 1044px;
	top: 0px;
	overflow: visible;
}
.cbo_Class {
	position: absolute;
	width: 119px;
	height: 115px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.cbp_Class {
	position: absolute;
	width: 119px;
	height: 115px;
	left: 626px;
	top: 0px;
	overflow: visible;
}
.cbq_Class {
	position: absolute;
	width: 113px;
	height: 109px;
	left: 6px;
	top: 6px;
	overflow: visible;
}
.cbr_Class {
	filter: blur(5px);
	fill: rgba(8,12,43,1);
}
.cbr {
	position: absolute;
	overflow: visible;
	width: 143px;
	height: 139px;
	left: 0px;
	top: 0px;
}
.cbs_Class {
	fill: rgba(0,11,29,1);
}
.cbs {
	overflow: visible;
	position: absolute;
	width: 119px;
	height: 115px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.cbt_Class {
	fill: rgba(255,255,255,1);
}
.cbt {
	overflow: visible;
	position: absolute;
	width: 34.316px;
	height: 52.997px;
	left: 26.273px;
	top: 28.344px;
	transform: matrix(1,0,0,1,0,0);
}
.cbu_Class {
	fill: rgba(255,255,255,1);
}
.cbu {
	overflow: visible;
	position: absolute;
	width: 24.148px;
	height: 51.562px;
	left: 62.92px;
	top: 29.656px;
	transform: matrix(1,0,0,1,0,0);
}
.cbv_Class {
	position: absolute;
	width: 113px;
	height: 109px;
	left: 5px;
	top: 6px;
	overflow: visible;
}
.cbw_Class {
	filter: blur(5px);
	fill: rgba(8,12,43,1);
}
.cbw {
	position: absolute;
	overflow: visible;
	width: 143px;
	height: 139px;
	left: 0px;
	top: 0px;
}
.cbx_Class {
	position: absolute;
	width: 119px;
	height: 115px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.cby_Class {
	position: absolute;
	width: 119px;
	height: 115px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.cbz_Class {
	position: absolute;
	width: 119px;
	height: 115px;
	left: 417px;
	top: 0px;
	overflow: visible;
}
.cca_Class {
	position: absolute;
	width: 119px;
	height: 115px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.ccb_Class {
	position: absolute;
	width: 119px;
	height: 115px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.ccc_Class {
	fill: rgba(255,255,255,1);
}
.ccc {
	position: absolute;
	overflow: visible;
	width: 119px;
	height: 115px;
	left: 0px;
	top: 0px;
}
.ccd_Class {
	position: absolute;
	width: 106.712px;
	height: 14.738px;
	left: 6.145px;
	top: 50.13px;
	overflow: visible;
}
.cce_Class {
	fill: rgba(25,25,72,1);
}
.cce {
	overflow: visible;
	position: absolute;
	width: 13.287px;
	height: 14.723px;
	left: 0px;
	top: 0.005px;
	transform: matrix(1,0,0,1,0,0);
}
.ccf_Class {
	fill: rgba(25,25,72,1);
}
.ccf {
	overflow: visible;
	position: absolute;
	width: 8.155px;
	height: 14.279px;
	left: 15.068px;
	top: 0.23px;
	transform: matrix(1,0,0,1,0,0);
}
.ccg_Class {
	fill: rgba(25,25,72,1);
}
.ccg {
	overflow: visible;
	position: absolute;
	width: 14.906px;
	height: 14.279px;
	left: 23.693px;
	top: 0.23px;
	transform: matrix(1,0,0,1,0,0);
}
.cch_Class {
	fill: rgba(25,25,72,1);
}
.cch {
	overflow: visible;
	position: absolute;
	width: 12.489px;
	height: 14.728px;
	left: 38.824px;
	top: 0.005px;
	transform: matrix(1,0,0,1,0,0);
}
.cci_Class {
	fill: rgba(25,25,72,1);
}
.cci {
	overflow: visible;
	position: absolute;
	width: 12.483px;
	height: 14.728px;
	left: 52.545px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.ccj_Class {
	fill: rgba(25,25,72,1);
}
.ccj {
	overflow: visible;
	position: absolute;
	width: 11.894px;
	height: 14.285px;
	left: 66.578px;
	top: 0.225px;
	transform: matrix(1,0,0,1,0,0);
}
.cck_Class {
	fill: rgba(25,25,72,1);
}
.cck {
	overflow: visible;
	position: absolute;
	width: 14.06px;
	height: 14.279px;
	left: 92.652px;
	top: 0.225px;
	transform: matrix(1,0,0,1,0,0);
}
.ccl_Class {
	fill: rgba(206,195,246,1);
}
.ccl {
	overflow: visible;
	position: absolute;
	width: 12.4px;
	height: 10.718px;
	left: 81.772px;
	top: 3.984px;
	transform: matrix(1,0,0,1,0,0);
}
.ccm_Class {
	position: absolute;
	width: 14.736px;
	height: 14.733px;
	left: 79.474px;
	top: 0.005px;
	overflow: visible;
}
.ccn_Class {
	position: absolute;
	width: 14.736px;
	height: 14.733px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.cco_Class {
	position: absolute;
	width: 29.995px;
	height: 18.292px;
	left: 984.006px;
	top: 48.531px;
	overflow: visible;
}
.ccp_Class {
	fill: rgba(8,12,43,1);
}
.ccp {
	overflow: visible;
	position: absolute;
	width: 18.292px;
	height: 16.168px;
	transform: translate(0px, 0px) matrix(1,0,0,1,12.7655,1.0622) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.ccq_Class {
	fill: rgba(8,12,43,1);
}
.ccq {
	position: absolute;
	overflow: visible;
	width: 22.047px;
	height: 7.953px;
	left: 0px;
	top: 5.169px;
}
.ccr_Class {
	position: absolute;
	width: 29.995px;
	height: 18.292px;
	left: 775px;
	top: 48.531px;
	overflow: visible;
}
.ccs_Class {
	fill: rgba(8,12,43,1);
}
.ccs {
	overflow: visible;
	position: absolute;
	width: 18.292px;
	height: 16.168px;
	transform: translate(0px, 0px) matrix(1,0,0,1,12.7655,1.0622) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.cct_Class {
	fill: rgba(8,12,43,1);
}
.cct {
	position: absolute;
	overflow: visible;
	width: 22.047px;
	height: 7.953px;
	left: 0px;
	top: 5.169px;
}
.ccu_Class {
	position: absolute;
	width: 29.995px;
	height: 18.292px;
	left: 566.006px;
	top: 48.531px;
	overflow: visible;
}
.ccv_Class {
	fill: rgba(8,12,43,1);
}
.ccv {
	overflow: visible;
	position: absolute;
	width: 18.292px;
	height: 16.168px;
	transform: translate(0px, 0px) matrix(1,0,0,1,12.7655,1.0622) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.ccw_Class {
	fill: rgba(8,12,43,1);
}
.ccw {
	position: absolute;
	overflow: visible;
	width: 22.047px;
	height: 7.953px;
	left: 0px;
	top: 5.169px;
}
.ccx_Class {
	position: absolute;
	width: 29.995px;
	height: 18.292px;
	left: 357.006px;
	top: 48.531px;
	overflow: visible;
}
.ccy_Class {
	fill: rgba(8,12,43,1);
}
.ccy {
	overflow: visible;
	position: absolute;
	width: 18.292px;
	height: 16.168px;
	transform: translate(0px, 0px) matrix(1,0,0,1,12.7655,1.0622) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.ccz_Class {
	fill: rgba(8,12,43,1);
}
.ccz {
	position: absolute;
	overflow: visible;
	width: 22.047px;
	height: 7.953px;
	left: 0px;
	top: 5.169px;
}
.cda_Class {
	position: absolute;
	width: 29.995px;
	height: 18.292px;
	left: 149.006px;
	top: 48.177px;
	overflow: visible;
}
.cdb_Class {
	fill: rgba(8,12,43,1);
}
.cdb {
	overflow: visible;
	position: absolute;
	width: 18.292px;
	height: 16.168px;
	transform: translate(0px, 0px) matrix(1,0,0,1,12.7655,1.0622) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.cdc_Class {
	fill: rgba(8,12,43,1);
}
.cdc {
	position: absolute;
	overflow: visible;
	width: 22.047px;
	height: 7.953px;
	left: 0px;
	top: 5.169px;
}
.cdd_Class {
	border: 0;
	left: 168px;
	top: 3484.522px;
	position: absolute;
	overflow: visible;
	width: 788px;
	height: 343px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(8,12,43,1);
}
.cde_Class {
	position: absolute;
	width: 610px;
	height: 343px;
	left: 985.001px;
	top: 3484.522px;
	overflow: visible;
}
.cdf_Class {
	position: absolute;
	width: 610px;
	height: 343px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.cdg_Class {
	fill: rgba(255,255,255,1);
}
.cdg {
	position: absolute;
	overflow: visible;
	width: 65px;
	height: 64px;
	left: 527.999px;
	top: 15.478px;
}
.cdh_Class {
	fill: rgba(255,255,255,1);
}
.cdh {
	position: absolute;
	overflow: visible;
	width: 221px;
	height: 60px;
	left: 6.999px;
	top: 274.478px;
}
.cdi_Class {
	fill: rgba(67,52,183,1);
}
.cdi {
	position: absolute;
	overflow: visible;
	width: 1565px;
	height: 1250px;
	left: 135px;
	top: 6233px;
}
.cdj_Class {
	fill: rgba(255,230,122,1);
}
.cdj {
	position: absolute;
	overflow: visible;
	width: 1565px;
	height: 1250px;
	left: 100px;
	top: 6198px;
}
.cdk_Class {
	border: 0;
	left: 157px;
	top: 6248px;
	position: absolute;
	overflow: visible;
	width: 579px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 42px;
	color: rgba(8,12,43,1);
}
.cdl_Class {
	border: 0;
	left: 157px;
	top: 6308px;
	position: absolute;
	overflow: visible;
	width: 1446px;
	height: 220px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(8,12,43,1);
}
.cdm_Class {
	position: absolute;
	width: 1445px;
	height: 840px;
	left: 157px;
	top: 6558px;
	overflow: visible;
}
.cdn_Class {
	position: absolute;
	width: 319px;
	height: 173px;
	left: 0px;
	top: 482px;
	overflow: visible;
}
.cdo_Class {
	position: absolute;
	width: 319px;
	height: 174px;
	left: 0px;
	top: 113px;
	overflow: visible;
}
.cdp_Class {
	position: absolute;
	width: 319px;
	height: 173px;
	left: 0px;
	top: 298px;
	overflow: visible;
}
.cdq_Class {
	position: absolute;
	width: 370px;
	height: 218px;
	left: 1075px;
	top: 113px;
	overflow: visible;
}
.cdr_Class {
	position: absolute;
	width: 370px;
	height: 120px;
	left: 1075px;
	top: 397px;
	overflow: visible;
}
.cds_Class {
	position: absolute;
	width: 370px;
	height: 46px;
	left: 1075px;
	top: 341px;
	overflow: visible;
}
.cdt_Class {
	position: absolute;
	width: 719px;
	height: 727px;
	left: 340px;
	top: 113px;
	overflow: visible;
}
.cdu_Class {
	position: absolute;
	width: 319px;
	height: 174px;
	left: 0px;
	top: 666px;
	overflow: visible;
}
.cdv_Class {
	position: absolute;
	width: 117px;
	height: 208px;
	left: 1326px;
	top: 527px;
	overflow: visible;
}
.cdw_Class {
	position: absolute;
	width: 368px;
	height: 95px;
	left: 1075px;
	top: 745px;
	overflow: visible;
}
.cdx_Class {
	position: absolute;
	width: 1445px;
	height: 83px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.cdy_Class {
	position: absolute;
	width: 86px;
	height: 83px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.cdz_Class {
	filter: blur(5px);
	fill: rgba(8,12,43,1);
}
.cdz {
	position: absolute;
	overflow: visible;
	width: 110px;
	height: 108px;
	left: 6px;
	top: 5px;
}
.cea_Class {
	position: absolute;
	width: 86px;
	height: 83px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.ceb_Class {
	position: absolute;
	width: 85px;
	height: 83px;
	left: 226px;
	top: 0px;
	overflow: visible;
}
.cec_Class {
	filter: blur(5px);
	fill: rgba(8,12,43,1);
}
.cec {
	position: absolute;
	overflow: visible;
	width: 113px;
	height: 108px;
	left: 2px;
	top: 5px;
}
.ced_Class {
	position: absolute;
	width: 85px;
	height: 83px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.cee_Class {
	fill: rgba(255,255,255,1);
}
.cee {
	position: absolute;
	overflow: visible;
	width: 85px;
	height: 83px;
	left: 0px;
	top: 0px;
}
.cef_Class {
	position: absolute;
	width: 85px;
	height: 32px;
	left: 0px;
	top: 26px;
	overflow: visible;
}
.ceg_Class {
	position: absolute;
	width: 85px;
	height: 83px;
	left: 791px;
	top: 0px;
	overflow: visible;
}
.ceh_Class {
	filter: blur(5px);
	fill: rgba(8,12,43,1);
}
.ceh {
	position: absolute;
	overflow: visible;
	width: 113px;
	height: 108px;
	left: 2px;
	top: 5px;
}
.cei_Class {
	position: absolute;
	width: 85px;
	height: 83px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.cej_Class {
	fill: rgba(255,255,255,1);
}
.cej {
	position: absolute;
	overflow: visible;
	width: 85px;
	height: 83px;
	left: 0px;
	top: 0px;
}
.cek_Class {
	position: absolute;
	width: 74px;
	height: 12px;
	left: 6px;
	top: 36px;
	overflow: visible;
}
.cel_Class {
	position: absolute;
	width: 84px;
	height: 83px;
	left: 338px;
	top: 0px;
	overflow: visible;
}
.cem_Class {
	filter: blur(5px);
	fill: rgba(8,12,43,1);
}
.cem {
	position: absolute;
	overflow: visible;
	width: 109px;
	height: 108px;
	left: 5px;
	top: 5px;
}
.cen_Class {
	position: absolute;
	width: 84px;
	height: 83px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.ceo_Class {
	fill: rgba(255,255,255,1);
}
.ceo {
	position: absolute;
	overflow: visible;
	width: 84px;
	height: 83px;
	left: 0px;
	top: 0px;
}
.cep_Class {
	position: absolute;
	width: 70px;
	height: 25px;
	left: 7px;
	top: 29px;
	overflow: visible;
}
.ceq_Class {
	position: absolute;
	width: 87px;
	height: 83px;
	left: 450px;
	top: 0px;
	overflow: visible;
}
.cer_Class {
	filter: blur(5px);
	fill: rgba(8,12,43,1);
}
.cer {
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 108px;
	left: 6px;
	top: 5px;
}
.ces_Class {
	position: absolute;
	width: 87px;
	height: 83px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.cet_Class {
	fill: rgba(255,255,255,1);
}
.cet {
	position: absolute;
	overflow: visible;
	width: 87px;
	height: 83px;
	left: 0px;
	top: 0px;
}
.ceu_Class {
	fill: rgba(3,20,38,1);
}
.ceu {
	overflow: visible;
	position: absolute;
	width: 52.062px;
	height: 52.062px;
	left: 17.585px;
	top: 15.251px;
	transform: matrix(1,0,0,1,0,0);
}
.cev_Class {
	position: absolute;
	width: 84px;
	height: 83px;
	left: 114px;
	top: 0px;
	overflow: visible;
}
.cew_Class {
	filter: blur(5px);
	fill: rgba(8,12,43,1);
}
.cew {
	position: absolute;
	overflow: visible;
	width: 110px;
	height: 108px;
	left: 4px;
	top: 5px;
}
.cex_Class {
	position: absolute;
	width: 84px;
	height: 83px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.cey_Class {
	fill: rgba(255,255,255,1);
}
.cey {
	position: absolute;
	overflow: visible;
	width: 84px;
	height: 83px;
	left: 0px;
	top: 0px;
}
.cez_Class {
	position: absolute;
	width: 84px;
	height: 47px;
	left: 0px;
	top: 18px;
	overflow: visible;
}
.cfa_Class {
	position: absolute;
	width: 84px;
	height: 83px;
	left: 679px;
	top: 0px;
	overflow: visible;
}
.cfb_Class {
	filter: blur(5px);
	fill: rgba(8,12,43,1);
}
.cfb {
	position: absolute;
	overflow: visible;
	width: 112px;
	height: 108px;
	left: 2px;
	top: 5px;
}
.cfc_Class {
	fill: rgba(255,255,255,1);
}
.cfc {
	position: absolute;
	overflow: visible;
	width: 84px;
	height: 83px;
	left: 0px;
	top: 0px;
}
.cfd_Class {
	position: absolute;
	width: 80px;
	height: 45px;
	left: 2px;
	top: 22px;
	overflow: visible;
}
.cfe_Class {
	position: absolute;
	width: 86px;
	height: 83px;
	left: 565px;
	top: 0px;
	overflow: visible;
}
.cff_Class {
	filter: blur(5px);
	fill: rgba(8,12,43,1);
}
.cff {
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 108px;
	left: 5px;
	top: 5px;
}
.cfg_Class {
	fill: rgba(255,255,255,1);
}
.cfg {
	position: absolute;
	overflow: visible;
	width: 86px;
	height: 83px;
	left: 0px;
	top: 0px;
}
.cfh_Class {
	position: absolute;
	width: 61px;
	height: 58px;
	left: 13px;
	top: 13px;
	overflow: visible;
}
.cfi_Class {
	position: absolute;
	width: 86px;
	height: 83px;
	left: 1359px;
	top: 0px;
	overflow: visible;
}
.cfj_Class {
	filter: blur(5px);
	fill: rgba(8,12,43,1);
}
.cfj {
	position: absolute;
	overflow: visible;
	width: 112px;
	height: 108px;
	left: 4px;
	top: 5px;
}
.cfk_Class {
	position: absolute;
	width: 86px;
	height: 83px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.cfl_Class {
	position: absolute;
	width: 84px;
	height: 83px;
	left: 1246px;
	top: 0px;
	overflow: visible;
}
.cfm_Class {
	filter: blur(5px);
	fill: rgba(8,12,43,1);
}
.cfm {
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 108px;
	left: 3px;
	top: 5px;
}
.cfn_Class {
	position: absolute;
	width: 84px;
	height: 83px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.cfo_Class {
	position: absolute;
	width: 88px;
	height: 83px;
	left: 1130px;
	top: 0px;
	overflow: visible;
}
.cfp_Class {
	filter: blur(5px);
	fill: rgba(8,12,43,1);
}
.cfp {
	position: absolute;
	overflow: visible;
	width: 115px;
	height: 108px;
	left: 3px;
	top: 5px;
}
.cfq_Class {
	fill: rgba(255,79,1,1);
}
.cfq {
	position: absolute;
	overflow: visible;
	width: 88px;
	height: 83px;
	left: 0px;
	top: 0px;
}
.cfr_Class {
	position: absolute;
	width: 83px;
	height: 47px;
	left: 3px;
	top: 18px;
	overflow: visible;
}
.cfs_Class {
	position: absolute;
	width: 83px;
	height: 83px;
	left: 903px;
	top: 0px;
	overflow: visible;
}
.cft_Class {
	filter: blur(5px);
	fill: rgba(8,12,43,1);
}
.cft {
	position: absolute;
	overflow: visible;
	width: 107px;
	height: 108px;
	left: 6px;
	top: 5px;
}
.cfu_Class {
	fill: rgba(255,255,255,1);
}
.cfu {
	position: absolute;
	overflow: visible;
	width: 83px;
	height: 83px;
	left: 0px;
	top: 0px;
}
.cfv_Class {
	position: absolute;
	width: 83px;
	height: 83px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.cfw_Class {
	position: absolute;
	width: 88px;
	height: 83px;
	left: 1014px;
	top: 0px;
	overflow: visible;
}
.cfx_Class {
	filter: blur(5px);
	fill: rgba(8,12,43,1);
}
.cfx {
	position: absolute;
	overflow: visible;
	width: 114px;
	height: 108px;
	left: 4px;
	top: 5px;
}
.cfy_Class {
	fill: rgba(254,255,6,1);
}
.cfy {
	position: absolute;
	overflow: visible;
	width: 88px;
	height: 83px;
	left: 0px;
	top: 0px;
}
.cfz_Class {
	position: absolute;
	width: 88px;
	height: 54px;
	left: 0px;
	top: 15px;
	overflow: visible;
}
.cga_Class {
	position: absolute;
	width: 240px;
	height: 208px;
	left: 1075px;
	top: 527px;
	overflow: visible;
}
.cgb_Class {
	position: absolute;
	width: 263.124px;
	height: 80.143px;
	left: 152px;
	top: 677px;
	overflow: visible;
}
.cgc_Class {
	position: absolute;
	width: 263.124px;
	height: 80.143px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.cgd_Class {
	position: absolute;
	width: 1800px;
	height: 93px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.cge_Class {
	position: absolute;
	width: 1800px;
	height: 93px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.cgf_Class {
	fill: rgba(255,230,122,1);
}
.cgf {
	position: absolute;
	overflow: visible;
	width: 1800px;
	height: 93px;
	left: 0px;
	top: 0px;
}
.cgg_Class {
	border: 0;
	left: 1078px;
	top: 31px;
	position: absolute;
	overflow: visible;
	width: 669px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(8,12,43,1);
}
.cgh_Class {
	position: absolute;
	width: 65.943px;
	height: 66.501px;
	left: 100px;
	top: 12.813px;
	overflow: visible;
}
.cgi_Class {
	fill: rgba(67,52,183,1);
}
.cgi {
	position: absolute;
	overflow: visible;
	width: 62.337px;
	height: 62.337px;
	left: 3.606px;
	top: 4.165px;
}
.cgj_Class {
	position: absolute;
	width: 61.462px;
	height: 61.462px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.cgk_Class {
	position: absolute;
	width: 463.801px;
	height: 17.258px;
	left: 215.641px;
	top: 37.435px;
	overflow: visible;
}
.cgm_Class {
	fill: url(#cgm);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.cgm {
	overflow: visible;
	position: absolute;
	width: 464.801px;
	height: 18.258px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}