.mediaViewInfo {
	--web-view-name: Selected Works #2 - Spectrum Gamers;
	--web-view-id: Selected_Works_2_-_Spectrum_Gamers;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-refresh-for-changes: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Selected_Works_2_-_Spectrum_Gamers;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
@keyframes  {


}
#Selected_Works_2_-_Spectrum_Gamers {
	position: absolute;
	width: 1800px;
	height: 6471px;
	background-color: rgba(8,12,43,1);
	overflow: hidden;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: beezer.html;
	cursor: pointer;
	--web-view-name: Selected Works #2 - Spectrum Gamers;
	--web-view-id: Selected_Works_2_-_Spectrum_Gamers;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-refresh-for-changes: true;
	--web-enable-deep-linking: true;
}
#bgp {
	fill: rgba(255,230,122,1);
}
.bgp {
	position: absolute;
	overflow: visible;
	width: 1565px;
	height: 840px;
	left: 135px;
	top: 686px;
}
#bgq {
	fill: rgba(247,252,247,1);
}
.bgq {
	position: absolute;
	overflow: visible;
	width: 1565px;
	height: 839px;
	left: 100px;
	top: 652px;
}
#bgr {
	position: absolute;
	width: 1447.732px;
	height: 771.142px;
	left: 176.134px;
	top: 702px;
	overflow: visible;
}
#bgs {
	filter: blur(5px);
	fill: rgba(180,180,180,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.bgs {
	position: absolute;
	overflow: visible;
	width: 209.483px;
	height: 40.457px;
	left: 1263.656px;
	top: 754.913px;
}
#bgt {
	filter: blur(5px);
	fill: rgba(180,180,180,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.bgt {
	position: absolute;
	overflow: visible;
	width: 420.702px;
	height: 47px;
	left: 0px;
	top: 754.142px;
}
#bgu {
	filter: blur(5px);
	fill: rgba(180,180,180,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.bgu {
	position: absolute;
	overflow: visible;
	width: 1347.528px;
	height: 72px;
	left: 130.204px;
	top: 654.142px;
}
#bgv {
	position: absolute;
	width: 1447.732px;
	height: 760.142px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#bgw {
	position: absolute;
	width: 1211.5px;
	height: 675.446px;
	left: 175.172px;
	top: 0px;
	overflow: visible;
}
#bgx {
	position: absolute;
	width: 1211.5px;
	height: 675.446px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#bgy {
	position: absolute;
	width: 913.132px;
	height: 583.437px;
	left: 149.185px;
	top: 40.492px;
	overflow: visible;
}
#bgz {
	position: absolute;
	width: 390.159px;
	height: 509.375px;
	left: 0px;
	top: 250.767px;
	overflow: visible;
}
#bha {
	position: absolute;
	width: 361.181px;
	height: 484.344px;
	left: 14.489px;
	top: 14.685px;
	overflow: visible;
}
#bhb {
	position: absolute;
	width: 390.159px;
	height: 509.375px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#bhc {
	position: absolute;
	width: 189.923px;
	height: 395.236px;
	left: 1257.81px;
	top: 364.739px;
	overflow: visible;
}
#bhd {
	fill: rgba(255,255,255,1);
}
.bhd {
	position: absolute;
	overflow: visible;
	width: 173.521px;
	height: 53.524px;
	left: 6.906px;
	top: 7.77px;
}
#bhe {
	position: absolute;
	width: 176.111px;
	height: 382.436px;
	left: 5.18px;
	top: 6.906px;
	overflow: visible;
}
#bhf {
	position: absolute;
	width: 189.923px;
	height: 395.236px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#bhg {
	position: absolute;
	width: 138.989px;
	height: 9.496px;
	left: 24.172px;
	top: 17.266px;
	overflow: visible;
}
#bhh {
	position: absolute;
	width: 32.805px;
	height: 5.678px;
	left: 106.184px;
	top: 1.727px;
	overflow: visible;
}
#bhi {
	position: absolute;
	width: 21.582px;
	height: 9.496px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#bhj {
	position: absolute;
	width: 261.123px;
	height: 80.125px;
	left: 146px;
	top: 702.285px;
	overflow: visible;
}
#bhk {
	position: absolute;
	width: 261.123px;
	height: 80.125px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#bhl {
	border: 0;
	left: 380px;
	top: 351px;
	position: absolute;
	overflow: visible;
	width: 961px;
	white-space: nowrap;
	text-align: center;
	font-family: Krona One;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(247,252,247,1);
}
#bhm {
	border: 0;
	left: 100px;
	top: 193px;
	position: absolute;
	overflow: visible;
	width: 889px;
	white-space: nowrap;
	text-align: center;
	font-family: Krona One;
	font-style: normal;
	font-weight: normal;
	font-size: 86px;
	color: rgba(247,252,247,1);
}
#bhn {
	border: 0;
	left: 100px;
	top: 410px;
	position: absolute;
	overflow: visible;
	width: 1566px;
	height: 192px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(247,252,247,1);
}
#bho {
	border: 0;
	left: 207px;
	top: 3051px;
	position: absolute;
	overflow: visible;
	width: 357px;
	white-space: nowrap;
	text-align: center;
	font-family: Krona One;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(247,252,247,1);
}
#bhp {
	border: 0;
	left: 170px;
	top: 1597px;
	position: absolute;
	overflow: visible;
	width: 233px;
	white-space: nowrap;
	text-align: center;
	font-family: Krona One;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(247,252,247,1);
}
#bhq {
	border: 0;
	left: 783px;
	top: 1597px;
	position: absolute;
	overflow: visible;
	width: 205px;
	white-space: nowrap;
	text-align: center;
	font-family: Krona One;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(247,252,247,1);
}
#bhr {
	fill: rgba(67,52,183,1);
}
.bhr {
	position: absolute;
	overflow: visible;
	width: 1565px;
	height: 883px;
	left: 135px;
	top: 4068px;
}
#bhs {
	fill: rgba(247,252,247,1);
}
.bhs {
	position: absolute;
	overflow: visible;
	width: 1565px;
	height: 883px;
	left: 100px;
	top: 4033px;
}
#bht {
	border: 0;
	left: 150px;
	top: 4083px;
	position: absolute;
	overflow: visible;
	width: 1466px;
	height: 231px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(8,12,43,1);
}
#bhu {
	border: 0;
	left: 150px;
	top: 4742px;
	position: absolute;
	overflow: visible;
	width: 1466px;
	height: 124px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(8,12,43,1);
}
#bhv {
	border: 0;
	left: 150px;
	top: 4344px;
	position: absolute;
	overflow: visible;
	width: 1466px;
	height: 368px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(8,12,43,1);
}
#bhw {
	border: 0;
	left: 230px;
	top: 3954px;
	position: absolute;
	overflow: visible;
	width: 435px;
	white-space: nowrap;
	text-align: center;
	font-family: Krona One;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(247,252,247,1);
}
#bhx {
	fill: rgba(67,52,183,1);
}
.bhx {
	position: absolute;
	overflow: visible;
	width: 531px;
	height: 611px;
	left: 135px;
	top: 1710px;
}
#bhy {
	fill: rgba(247,252,247,1);
}
.bhy {
	position: absolute;
	overflow: visible;
	width: 531px;
	height: 611px;
	left: 100px;
	top: 1676px;
}
#bhz {
	border: 0;
	left: 150px;
	top: 1726px;
	position: absolute;
	overflow: hidden;
	width: 432px;
	height: 43px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 42px;
	color: rgba(8,12,43,1);
}
#bia {
	border: 0;
	left: 150px;
	top: 1799px;
	position: absolute;
	overflow: hidden;
	width: 439px;
	height: 40px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 42px;
	color: rgba(8,12,43,1);
}
#bib {
	position: absolute;
	width: 431px;
	height: 368px;
	left: 150px;
	top: 1869px;
	overflow: visible;
}
#bic {
	border: 0;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 432px;
	height: 40px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 42px;
	color: rgba(8,12,43,1);
}
#bid {
	position: absolute;
	width: 431px;
	height: 49px;
	left: 0px;
	top: 178px;
	overflow: visible;
}
#bie {
	border: 0;
	left: 30px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 402px;
	height: 49px;
	line-height: 22.780000686645508px;
	margin-top: -0.3900003433227539px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(8,12,43,1);
}
#bif {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	display: none;
	overflow: visible;
}
#big {
	fill: rgba(255,255,255,0);
}
.big {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
#bih {
	fill: rgba(1,113,235,1);
}
.bih {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 8px;
	top: 8px;
}
#bii {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#bij {
	fill: rgba(255,255,255,0);
}
.bij {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
#bik {
	fill: rgba(8,12,43,1);
}
.bik {
	position: absolute;
	overflow: visible;
	width: 6px;
	height: 6px;
	left: 7px;
	top: 7px;
}
#bil {
	position: absolute;
	width: 431px;
	height: 49px;
	left: 0px;
	top: 237px;
	overflow: visible;
}
#bim {
	border: 0;
	left: 30px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 402px;
	height: 49px;
	line-height: 22.780000686645508px;
	margin-top: -0.3900003433227539px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(8,12,43,1);
}
#bin {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	display: none;
	overflow: visible;
}
#bio {
	fill: rgba(255,255,255,0);
}
.bio {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
#bip {
	fill: rgba(1,113,235,1);
}
.bip {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 8px;
	top: 8px;
}
#biq {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#bir {
	fill: rgba(255,255,255,0);
}
.bir {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
#bis {
	fill: rgba(8,12,43,1);
}
.bis {
	position: absolute;
	overflow: visible;
	width: 6px;
	height: 6px;
	left: 7px;
	top: 7px;
}
#bit {
	position: absolute;
	width: 431px;
	height: 72px;
	left: 0px;
	top: 296px;
	overflow: visible;
}
#biu {
	border: 0;
	left: 30px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 402px;
	height: 72px;
	line-height: 22.780000686645508px;
	margin-top: -0.3900003433227539px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(8,12,43,1);
}
#biv {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	display: none;
	overflow: visible;
}
#biw {
	fill: rgba(255,255,255,0);
}
.biw {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
#bix {
	fill: rgba(1,113,235,1);
}
.bix {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 8px;
	top: 8px;
}
#biy {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#biz {
	fill: rgba(255,255,255,0);
}
.biz {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
#bja {
	fill: rgba(8,12,43,1);
}
.bja {
	position: absolute;
	overflow: visible;
	width: 6px;
	height: 6px;
	left: 7px;
	top: 7px;
}
#bjb {
	position: absolute;
	width: 431px;
	height: 49px;
	left: 0px;
	top: 119px;
	overflow: visible;
}
#bjc {
	border: 0;
	left: 30px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 402px;
	height: 49px;
	line-height: 22.780000686645508px;
	margin-top: -0.3900003433227539px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(8,12,43,1);
}
#bjd {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	display: none;
	overflow: visible;
}
#bje {
	fill: rgba(255,255,255,0);
}
.bje {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
#bjf {
	fill: rgba(1,113,235,1);
}
.bjf {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 8px;
	top: 8px;
}
#bjg {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#bjh {
	fill: rgba(255,255,255,0);
}
.bjh {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
#bji {
	fill: rgba(8,12,43,1);
}
.bji {
	position: absolute;
	overflow: visible;
	width: 6px;
	height: 6px;
	left: 7px;
	top: 7px;
}
#bjj {
	position: absolute;
	width: 431px;
	height: 49px;
	left: 0px;
	top: 60px;
	overflow: visible;
}
#bjk {
	border: 0;
	left: 30px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 402px;
	height: 49px;
	line-height: 22.780000686645508px;
	margin-top: -0.3900003433227539px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(8,12,43,1);
}
#bjl {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	display: none;
	overflow: visible;
}
#bjm {
	fill: rgba(255,255,255,0);
}
.bjm {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
#bjn {
	fill: rgba(1,113,235,1);
}
.bjn {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 8px;
	top: 8px;
}
#bjo {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#bjp {
	fill: rgba(255,255,255,0);
}
.bjp {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
#bjq {
	fill: rgba(8,12,43,1);
}
.bjq {
	position: absolute;
	overflow: visible;
	width: 6px;
	height: 6px;
	left: 7px;
	top: 7px;
}
#bjr {
	border: 0;
	left: 253px;
	top: 5022px;
	position: absolute;
	overflow: visible;
	width: 511px;
	white-space: nowrap;
	text-align: center;
	font-family: Krona One;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(247,252,247,1);
}
#bjs {
	fill: rgba(247,252,247,1);
}
.bjs {
	position: absolute;
	overflow: visible;
	width: 1565px;
	height: 664px;
	left: 135px;
	top: 3165.045px;
}
#bjt {
	fill: rgba(255,230,122,1);
}
.bjt {
	overflow: visible;
	position: absolute;
	width: 1565px;
	height: 664px;
	left: 100px;
	top: 3130px;
	transform: matrix(1,0,0,1,0,0);
}
#bju {
	fill: rgba(8,12,43,1);
}
.bju {
	overflow: visible;
	position: absolute;
	width: 129.602px;
	height: 43.39px;
	left: 399.682px;
	top: 3556.44px;
	transform: matrix(1,0,0,1,0,0);
}
#bjv {
	fill: rgba(8,12,43,1);
}
.bjv {
	overflow: visible;
	position: absolute;
	width: 115.72px;
	height: 43.456px;
	left: 616.833px;
	top: 3556.44px;
	transform: matrix(1,0,0,1,0,0);
}
#bjw {
	fill: rgba(8,12,43,1);
}
.bjw {
	overflow: visible;
	position: absolute;
	width: 146.454px;
	height: 43.39px;
	left: 811.136px;
	top: 3556.44px;
	transform: matrix(1,0,0,1,0,0);
}
#bjx {
	fill: rgba(8,12,43,1);
}
.bjx {
	overflow: visible;
	position: absolute;
	width: 120.846px;
	height: 43.016px;
	left: 1032.709px;
	top: 3556.814px;
	transform: matrix(1,0,0,1,0,0);
}
#bjy {
	fill: rgba(8,12,43,1);
}
.bjy {
	overflow: visible;
	position: absolute;
	width: 111.21px;
	height: 43.016px;
	left: 1454.614px;
	top: 3556.814px;
	transform: matrix(1,0,0,1,0,0);
}
#bjz {
	position: absolute;
	width: 1387.418px;
	height: 187.186px;
	left: 179.582px;
	top: 3556.814px;
	overflow: visible;
}
#bka {
	fill: rgba(8,12,43,1);
}
.bka {
	overflow: visible;
	position: absolute;
	width: 156.024px;
	height: 46.91px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#bkb {
	fill: rgba(8,12,43,1);
}
.bkb {
	overflow: visible;
	position: absolute;
	width: 91.806px;
	height: 46.91px;
	left: 1076.878px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#bkc {
	position: absolute;
	width: 1372px;
	height: 116px;
	left: 15.418px;
	top: 71.186px;
	overflow: visible;
}
#bkd {
	position: absolute;
	width: 113px;
	height: 109px;
	left: 213px;
	top: 6.522px;
	overflow: visible;
}
#bke {
	filter: blur(5px);
	fill: rgba(8,12,43,1);
}
.bke {
	position: absolute;
	overflow: visible;
	width: 143px;
	height: 139px;
	left: 0px;
	top: 0px;
}
#bkf {
	position: absolute;
	width: 113px;
	height: 109px;
	left: 422px;
	top: 6.522px;
	overflow: visible;
}
#bkg {
	filter: blur(5px);
	fill: rgba(8,12,43,1);
}
.bkg {
	position: absolute;
	overflow: visible;
	width: 143px;
	height: 139px;
	left: 0px;
	top: 0px;
}
#bkh {
	position: absolute;
	width: 113px;
	height: 109px;
	left: 841px;
	top: 6.522px;
	overflow: visible;
}
#bki {
	filter: blur(5px);
	fill: rgba(8,12,43,1);
}
.bki {
	position: absolute;
	overflow: visible;
	width: 143px;
	height: 139px;
	left: 0px;
	top: 0px;
}
#bkj {
	position: absolute;
	width: 113px;
	height: 109px;
	left: 1050px;
	top: 6.522px;
	overflow: visible;
}
#bkk {
	filter: blur(5px);
	fill: rgba(8,12,43,1);
}
.bkk {
	position: absolute;
	overflow: visible;
	width: 143px;
	height: 139px;
	left: 0px;
	top: 0px;
}
#bkl {
	position: absolute;
	width: 119px;
	height: 115px;
	left: 210px;
	top: 1px;
	overflow: visible;
}
#bkm {
	position: absolute;
	width: 113px;
	height: 109px;
	left: 1259px;
	top: 6.522px;
	overflow: visible;
}
#bkn {
	filter: blur(5px);
	fill: rgba(8,12,43,1);
}
.bkn {
	position: absolute;
	overflow: visible;
	width: 143px;
	height: 139px;
	left: 0px;
	top: 0px;
}
#bko {
	position: absolute;
	width: 29.995px;
	height: 18.292px;
	left: 1192.999px;
	top: 49.054px;
	overflow: visible;
}
#bkp {
	fill: rgba(8,12,43,1);
}
.bkp {
	overflow: visible;
	position: absolute;
	width: 18.292px;
	height: 16.168px;
	transform: translate(0px, 0px) matrix(1,0,0,1,12.7655,1.0622) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#bkq {
	fill: rgba(8,12,43,1);
}
.bkq {
	position: absolute;
	overflow: visible;
	width: 22.047px;
	height: 7.953px;
	left: 0px;
	top: 5.169px;
}
#bkr {
	position: absolute;
	width: 119px;
	height: 115px;
	left: 1253px;
	top: 0.522px;
	overflow: visible;
}
#bks {
	position: absolute;
	width: 119px;
	height: 115px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#bkt {
	position: absolute;
	width: 119px;
	height: 115px;
	left: 1044px;
	top: 0.522px;
	overflow: visible;
}
#bku {
	position: absolute;
	width: 119px;
	height: 115px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#bkv {
	position: absolute;
	width: 113px;
	height: 109px;
	left: 632px;
	top: 6.522px;
	overflow: visible;
}
#bkw {
	filter: blur(5px);
	fill: rgba(8,12,43,1);
}
.bkw {
	position: absolute;
	overflow: visible;
	width: 143px;
	height: 139px;
	left: 0px;
	top: 0px;
}
#bkx {
	position: absolute;
	width: 113px;
	height: 109px;
	left: 5px;
	top: 6.522px;
	overflow: visible;
}
#bky {
	filter: blur(5px);
	fill: rgba(8,12,43,1);
}
.bky {
	position: absolute;
	overflow: visible;
	width: 143px;
	height: 139px;
	left: 0px;
	top: 0px;
}
#bkz {
	position: absolute;
	width: 119px;
	height: 115px;
	left: 0px;
	top: 0.522px;
	overflow: visible;
}
#bla {
	position: absolute;
	width: 119px;
	height: 115px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#blb {
	position: absolute;
	width: 29.995px;
	height: 18.292px;
	left: 984.006px;
	top: 49.054px;
	overflow: visible;
}
#blc {
	fill: rgba(8,12,43,1);
}
.blc {
	overflow: visible;
	position: absolute;
	width: 18.292px;
	height: 16.168px;
	transform: translate(0px, 0px) matrix(1,0,0,1,12.7655,1.0622) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#bld {
	fill: rgba(8,12,43,1);
}
.bld {
	position: absolute;
	overflow: visible;
	width: 22.047px;
	height: 7.953px;
	left: 0px;
	top: 5.169px;
}
#ble {
	position: absolute;
	width: 29.995px;
	height: 18.292px;
	left: 775px;
	top: 49.054px;
	overflow: visible;
}
#blf {
	fill: rgba(8,12,43,1);
}
.blf {
	overflow: visible;
	position: absolute;
	width: 18.292px;
	height: 16.168px;
	transform: translate(0px, 0px) matrix(1,0,0,1,12.7655,1.0622) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#blg {
	fill: rgba(8,12,43,1);
}
.blg {
	position: absolute;
	overflow: visible;
	width: 22.047px;
	height: 7.953px;
	left: 0px;
	top: 5.169px;
}
#blh {
	position: absolute;
	width: 29.995px;
	height: 18.292px;
	left: 566.006px;
	top: 49.054px;
	overflow: visible;
}
#bli {
	fill: rgba(8,12,43,1);
}
.bli {
	overflow: visible;
	position: absolute;
	width: 18.292px;
	height: 16.168px;
	transform: translate(0px, 0px) matrix(1,0,0,1,12.7655,1.0622) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#blj {
	fill: rgba(8,12,43,1);
}
.blj {
	position: absolute;
	overflow: visible;
	width: 22.047px;
	height: 7.953px;
	left: 0px;
	top: 5.169px;
}
#blk {
	position: absolute;
	width: 29.995px;
	height: 18.292px;
	left: 357.006px;
	top: 49.054px;
	overflow: visible;
}
#bll {
	fill: rgba(8,12,43,1);
}
.bll {
	overflow: visible;
	position: absolute;
	width: 18.292px;
	height: 16.168px;
	transform: translate(0px, 0px) matrix(1,0,0,1,12.7655,1.0622) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#blm {
	fill: rgba(8,12,43,1);
}
.blm {
	position: absolute;
	overflow: visible;
	width: 22.047px;
	height: 7.953px;
	left: 0px;
	top: 5.169px;
}
#bln {
	position: absolute;
	width: 29.995px;
	height: 18.292px;
	left: 149.006px;
	top: 48.699px;
	overflow: visible;
}
#blo {
	fill: rgba(8,12,43,1);
}
.blo {
	overflow: visible;
	position: absolute;
	width: 18.292px;
	height: 16.168px;
	transform: translate(0px, 0px) matrix(1,0,0,1,12.7655,1.0622) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#blp {
	fill: rgba(8,12,43,1);
}
.blp {
	position: absolute;
	overflow: visible;
	width: 22.047px;
	height: 7.953px;
	left: 0px;
	top: 5.169px;
}
#blq {
	position: absolute;
	width: 119px;
	height: 115px;
	left: 626px;
	top: 1px;
	overflow: visible;
}
#blr {
	position: absolute;
	width: 118px;
	height: 116px;
	left: 836px;
	top: 0px;
	overflow: visible;
}
#bls {
	position: absolute;
	width: 119px;
	height: 115px;
	left: 416px;
	top: 1px;
	overflow: visible;
}
#blt {
	border: 0;
	left: 168px;
	top: 3178.522px;
	position: absolute;
	overflow: visible;
	width: 788px;
	height: 343px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(8,12,43,1);
}
#blu {
	position: absolute;
	width: 610px;
	height: 343px;
	left: 985px;
	top: 3179px;
	overflow: visible;
}
#blv {
	fill: rgba(254,255,255,1);
}
.blv {
	position: absolute;
	overflow: visible;
	width: 610px;
	height: 343px;
	left: 0px;
	top: 0px;
}
#blw {
	position: absolute;
	width: 584px;
	height: 295px;
	left: 13px;
	top: 24px;
	overflow: visible;
}
#blx {
	position: absolute;
	width: 584px;
	height: 295px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#bly {
	fill: rgba(254,255,255,1);
}
.bly {
	position: absolute;
	overflow: visible;
	width: 49px;
	height: 28px;
	left: 527px;
	top: 9px;
}
#blz {
	border: 0;
	left: 172px;
	top: 2406px;
	position: absolute;
	overflow: visible;
	width: 241px;
	white-space: nowrap;
	text-align: center;
	font-family: Krona One;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(247,252,247,1);
}
#bma {
	fill: rgba(67,52,183,1);
}
.bma {
	position: absolute;
	overflow: visible;
	width: 517px;
	height: 473px;
	left: 142px;
	top: 2520px;
}
#bmb {
	fill: rgba(247,252,247,1);
}
.bmb {
	position: absolute;
	overflow: visible;
	width: 517px;
	height: 473px;
	left: 100px;
	top: 2485px;
}
#bmc {
	border: 0;
	left: 305px;
	top: 2548px;
	position: absolute;
	overflow: visible;
	width: 219px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(8,12,43,1);
}
#bmd {
	border: 0;
	left: 157px;
	top: 2655px;
	position: absolute;
	overflow: visible;
	width: 404px;
	height: 247px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(8,12,43,1);
}
#bme {
	position: absolute;
	width: 99.191px;
	height: 98.802px;
	left: 174.905px;
	top: 2536px;
	overflow: visible;
}
#bmf {
	fill: rgba(255,230,122,1);
}
.bmf {
	position: absolute;
	overflow: visible;
	width: 99.191px;
	height: 98.802px;
	left: 0px;
	top: 0px;
}
#bmg {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.bmg {
	overflow: visible;
	position: absolute;
	width: 73.609px;
	height: 66.604px;
	left: 13.809px;
	top: 15.543px;
	transform: matrix(1,0,0,1,0,0);
}
#bmh {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.bmh {
	overflow: visible;
	position: absolute;
	width: 73.616px;
	height: 67.939px;
	left: 13.809px;
	top: 15.634px;
	transform: matrix(1,0,0,1,0,0);
}
#bmi {
	position: absolute;
	width: 101px;
	height: 101px;
	left: 174.001px;
	top: 2535px;
	overflow: visible;
}
#bmj {
	position: absolute;
	width: 101px;
	height: 101px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#bmk {
	fill: rgba(8,12,43,1);
}
.bmk {
	overflow: visible;
	position: absolute;
	width: 52.304px;
	height: 34.418px;
	left: 115.78px;
	top: 2502.804px;
	transform: matrix(1,0,0,1,0,0);
}
#bml {
	fill: rgba(255,230,122,1);
}
.bml {
	position: absolute;
	overflow: visible;
	width: 943px;
	height: 1279px;
	left: 757px;
	top: 1711px;
}
#bmm {
	fill: rgba(247,252,247,1);
}
.bmm {
	overflow: visible;
	position: absolute;
	width: 943px;
	height: 1279px;
	left: 722px;
	top: 1676px;
	transform: matrix(1,0,0,1,0,0);
}
#bmn {
	border: 0;
	left: 801px;
	top: 1716px;
	position: absolute;
	overflow: visible;
	width: 274px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 42px;
	color: rgba(8,12,43,1);
}
#bmo {
	border: 0;
	left: 801px;
	top: 1774px;
	position: absolute;
	overflow: visible;
	width: 786px;
	height: 53px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(8,12,43,1);
}
#bmp {
	position: absolute;
	width: 784.365px;
	height: 1048px;
	left: 801.636px;
	top: 1857px;
	overflow: visible;
}
#bmq {
	fill: rgba(8,12,43,1);
}
.bmq {
	overflow: visible;
	position: absolute;
	width: 784.365px;
	height: 1048px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#bmr {
	position: absolute;
	width: 357px;
	height: 976px;
	left: 397.554px;
	top: 19.606px;
	overflow: visible;
}
#bms {
	fill: rgba(8,12,43,1);
}
.bms {
	position: absolute;
	overflow: visible;
	width: 778.682px;
	height: 31px;
	left: 5.683px;
	top: 966.606px;
}
#bmu {
	fill: url(#bmu);
}
.bmu {
	position: absolute;
	overflow: visible;
	width: 380.257px;
	height: 30px;
	left: 385.925px;
	top: 936.606px;
}
#bmv {
	position: absolute;
	width: 355px;
	height: 895.82px;
	left: 30.925px;
	top: 19.606px;
	overflow: visible;
}
#bmw {
	fill: rgba(67,52,183,1);
}
.bmw {
	position: absolute;
	overflow: visible;
	width: 1565px;
	height: 1137px;
	left: 135px;
	top: 5136px;
}
#bmx {
	fill: rgba(255,230,122,1);
}
.bmx {
	position: absolute;
	overflow: visible;
	width: 1565px;
	height: 1137px;
	left: 100px;
	top: 5101px;
}
#bmy {
	border: 0;
	left: 157px;
	top: 5151px;
	position: absolute;
	overflow: visible;
	width: 680px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 42px;
	color: rgba(8,12,43,1);
}
#bmz {
	border: 0;
	left: 157px;
	top: 5211px;
	position: absolute;
	overflow: visible;
	width: 1446px;
	height: 27px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(8,12,43,1);
}
#bna {
	position: absolute;
	width: 1445px;
	height: 920px;
	left: 157px;
	top: 5268px;
	overflow: visible;
}
#bnb {
	position: absolute;
	width: 608px;
	height: 415px;
	left: 0px;
	top: 504px;
	overflow: visible;
}
#bnc {
	position: absolute;
	width: 871px;
	height: 474px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#bnd {
	position: absolute;
	width: 238px;
	height: 414px;
	left: 627px;
	top: 506px;
	overflow: visible;
}
#bne {
	position: absolute;
	width: 561px;
	height: 413px;
	left: 884px;
	top: 506px;
	overflow: visible;
}
#bnf {
	position: absolute;
	width: 549px;
	height: 474px;
	left: 896px;
	top: 0px;
	overflow: visible;
}
#bng {
	position: absolute;
	width: 1800px;
	height: 93px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#bnh {
	position: absolute;
	width: 1800px;
	height: 93px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#bni {
	fill: rgba(255,230,122,1);
}
.bni {
	position: absolute;
	overflow: visible;
	width: 1800px;
	height: 93px;
	left: 0px;
	top: 0px;
}
#bnj {
	border: 0;
	left: 1078px;
	top: 31px;
	position: absolute;
	overflow: visible;
	width: 669px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(8,12,43,1);
}
#bnk {
	position: absolute;
	width: 65.943px;
	height: 66.501px;
	left: 100px;
	top: 12.813px;
	overflow: visible;
}
#bnl {
	fill: rgba(67,52,183,1);
}
.bnl {
	position: absolute;
	overflow: visible;
	width: 62.337px;
	height: 62.337px;
	left: 3.606px;
	top: 4.165px;
}
#bnm {
	position: absolute;
	width: 61.462px;
	height: 61.462px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#bno {
	fill: url(#bno);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.bno {
	overflow: visible;
	position: absolute;
	width: 464.801px;
	height: 18.258px;
	left: 215.641px;
	top: 37.435px;
	transform: matrix(1,0,0,1,0,0);
}